html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}
.main {
  position: relative;
  height: 100vh;
  min-height: 85rem;
  background: url(../img/main/main__bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 2rem;
}
.main__header {
  height: 8.5rem;
}
.main__logo {
  height: 8.5rem;
}
.main__list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.main__item {
  display: inline-block;
  margin: 0 1.5rem;
  line-height: 8.5rem;
}
.main__link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
}
.main__link:hover,
.main__link:active {
  color: #ecc02a;
  text-decoration: none;
}
.main__headerSoc {
  text-align: left;
  line-height: 8.5rem;
}
.main__headerSoc img {
  cursor: pointer;
  margin: 0 0.4rem;
  opacity: 0.6;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.main__headerSoc img:hover {
  opacity: 1;
}
.main__headerSoc i {
  opacity: 0.7;
  position: relative;
  bottom: -2px;
  margin: 0 0.4rem;
  color: #dad9d7;
  font-size: 2.4rem;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.main__headerSoc i:first-child {
  font-size: 2rem;
}
.main__headerSoc i:hover {
  opacity: 1;
}
.main__tel {
  margin-left: 0.5rem;
  color: #fff;
}
.main__tel:hover {
  color: #fff;
  text-decoration: none;
}
.main__title {
  margin-top: 15vh;
}
.main__h1 {
  font-size: 8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #ecc02a;
  margin-bottom: 0rem;
}
.main__text {
  margin-top: 0;
  color: #fff;
  line-height: 1.6;
}
.main__btn {
  margin-top: 3rem;
  width: 25rem;
  height: 6rem;
  background: #ecc02a;
  border: none;
  color: #fff;
  padding-bottom: 0.5rem;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main__btn:hover {
  border: 1px solid #fff;
  background: transparent;
}
.main__down {
  position: absolute;
  display: block;
  color: #dfdfdf;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  bottom: 15rem;
  left: 0;
}
.main__down:hover,
.main__down:active,
.main__down:visited,
.main__down:link {
  color: #fff;
  text-decoration: none;
}
.main__arrow {
  position: relative;
  margin-right: 1rem;
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: -1px;
}
.main__soc {
  text-align: center;
  position: absolute;
  right: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main__soc i {
  margin-bottom: 2rem;
  display: block;
  color: #fff;
  font-size: 3.6rem;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.main__soc i:hover {
  opacity: 1;
}
.main__language {
  position: absolute;
  bottom: 8rem;
  right: 3rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.main__language a {
  color: #fff;
}
.main__language a:hover {
  text-decoration: none;
  color: #fff;
}