*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  background: #161616;
  font-family: 'Pacifico', cursive;
  font-family: 'Poppins', sans-serif;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 60px;
  max-width: 1640px;
}
.header__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__link {
  color: #f2f2f2;
  font-size: 1.25vw;
  font-weight: 500;
  margin-right: 100px;
  text-decoration: none;
}
.header__link:last-child {
  margin-right: 0;
}
.header__btn {
  width: 186px;
  height: 50px;
  border-radius: 44px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.header__auth {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__sign {
  color: #f2f2f2;
  background: -webkit-gradient(linear, left top, right top, from(#47d0ff), to(#00aae6));
  background: linear-gradient(90deg, #47d0ff 0%, #00aae6 100%);
  margin-right: 53px;
  margin-left: 44px;
}
.header__log {
  background: transparent;
  border: 2px solid #47D0FF;
  color: #47D0FF;
}
.logo {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8vw;
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 400;
}
.logo span {
  font-weight: 600;
}
.logo img {
  margin-left: 30px;
}
.main {
  padding-top: 100px;
  padding-bottom: 200px;
  background: url(../img/main/main-bg.png) no-repeat center / cover;
  position: relative;
}
.main__row {
  margin-top: 110px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__img {
  width: 32vw;
}
.main__title {
  color: #47D0FF;
  font-weight: 600;
  font-size: 3.7vw;
  line-height: 85px;
  max-width: 30vw;
}
.main__title span {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 4.3vw;
}
.main__contentRow {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__subtitle {
  color: #F7A1C4;
  font-weight: 500;
  font-size: 1.9vw;
  vertical-align: top;
}
.main__arrow {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 15px;
}
.main__btn {
  width: 300px;
  height: 70px;
  padding-bottom: 4px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: -webkit-gradient(linear, left top, right top, from(#47d0ff), to(#00aae6));
  background: linear-gradient(90deg, #47d0ff 0%, #00aae6 100%);
  border-radius: 70px;
  color: #f2f2f2;
  font-size: 1.8vw;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  top: 18px;
}
.main__btn span {
  font-family: 'Pacifico', cursive;
  font-size: 2.5vw;
  font-weight: 400;
  margin-left: 10px;
  position: relative;
  top: -8px;
}
.main__subtext {
  color: #f2f2f2;
  font-weight: 600;
  font-size: 8vw;
  position: absolute;
  bottom: -3.3vw;
  left: 50%;
  -webkit-transform: rotate(1.5deg) translateX(-50%);
          transform: rotate(1.5deg) translateX(-50%);
}
.title {
  font-size: 5vw;
  color: #60253D;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-align: center;
}
.border {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 90vw;
  height: 94%;
  max-width: 1728px;
  background: transparent;
  -webkit-transform: skewY(1.5deg) translateX(-50%);
          transform: skewY(1.5deg) translateX(-50%);
  z-index: 3;
}
.cookies {
  background: #F7A1C4;
  padding-top: 70px;
  padding-bottom: 80px;
  position: relative;
  z-index: 5;
}
.cookies::after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: -1;
}
.cookies::before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: -1;
}
.cookies__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.cookies__title {
  margin-bottom: 40px;
}
.cookies__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 31.5vw;
}
.cookies__arrow {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 27vw;
}
.cookies__text {
  font-weight: 400;
  font-size: 2.5vw;
  color: #60253D;
  text-align: center;
  margin-top: 20px;
  line-height: 57px;
}
.cookies .border {
  border: 4px solid #60253D;
}
.workers {
  background: #F7EE7F;
  padding-top: 90px;
  padding-bottom: 130px;
  position: relative;
  z-index: 3;
}
.workers::after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: -1;
}
.workers__title {
  color: #645E14;
}
.workers__text {
  font-weight: 400;
  font-size: 2.5vw;
  color: #60253D;
  line-height: 57px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: -120px;
}
.workers .border {
  border: 4px solid #645E14;
  top: 90px;
  height: 90%;
}
.something {
  background: #32965D;
  padding-top: 100px;
  padding-bottom: 150px;
  position: relative;
  z-index: 2;
}
.something::after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
  -webkit-transform: skewY(1.5deg);
          transform: skewY(1.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  z-index: -1;
}
.something__title {
  color: #f2f2f2;
}
.something__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}
.something__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 390px;
}
.something__imgBlock {
  height: 225px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.something__text {
  font-size: 2.5vw;
  line-height: 57px;
  color: #f2f2f2;
  font-weight: 400;
  text-align: center;
  margin-top: 55px;
}
.something .border {
  border: 4px solid #f2f2f2;
  top: 90px;
  height: 88%;
}
.start {
  padding-top: 100px;
  padding-bottom: 125px;
  background: url(../img/start/start-bg.png) no-repeat center;
  background-size: auto;
}
.start__title {
  font-size: 8vw;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 150px;
}
.start__row {
  margin-bottom: 55px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.start__arrow_1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -400px;
}
.start__arrow_2 {
  position: absolute;
  top: 5%;
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  right: -420px;
}
.start__arrow_3 {
  position: absolute;
  bottom: -120px;
  -webkit-transform: scale(1, -1) rotate(-45deg);
          transform: scale(1, -1) rotate(-45deg);
  right: -420px;
}
.start__block {
  max-width: 31.5vw;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.start__block_2 {
  margin-top: 290px;
}
.start__block_4 {
  margin-top: 440px;
}
.start__text {
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 57px;
  color: #f2f2f2;
  margin-top: 30px;
  text-align: center;
}
.start__text span {
  display: inline-block;
  margin-top: 30px;
  font-size: 5vw;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
.start__btn {
  width: 540px;
  height: 108px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f2f2f2;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#47d0ff), to(#00aae6));
  background: linear-gradient(90deg, #47d0ff 0%, #00aae6 100%);
  border-radius: 70px;
  margin: 0 auto;
  margin-top: 150px;
  font-weight: 500;
  font-size: 36px;
}
.footer {
  padding-top: 165px;
  padding-bottom: 155px;
  background: #F8A8C8;
}
.footer__row {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .logo {
  color: #60253D;
}
.footer__ref {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 228px;
  height: 82px;
  color: #60253D;
  font-size: 20px;
  font-weight: 500;
  border-radius: 51px;
  border: 2px solid #60253D;
  margin-top: 30px;
  padding-right: 10px;
}
.footer__ref img {
  margin-right: 15px;
}
.footer__ref_linkedin img {
  position: relative;
  top: -5px;
}
.footer__nav {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__link {
  font-size: 36px;
  font-size: 1.9vw;
  font-weight: 400;
  margin-bottom: 40px;
  color: #60253D;
  text-decoration: none;
}
.footer__btn {
  width: 229px;
  height: 82px;
  border-radius: 54px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}
.footer__sign {
  background: #60253D;
  color: #f2f2f2;
  margin-bottom: 40px;
}
.footer__log {
  color: #60253D;
  background: transparent;
  border: 2px solid #60253D;
}
@media (max-width: 1800px) {
  .border {
    width: 95vw;
  }
}
@media (max-width: 1450px) {
  .header__link {
    margin-right: 50px;
  }
  .main__btn span {
    top: -4px;
  }
  .main__btn {
    width: 250px;
  }
  .cookies__text,
  .workers__text,
  .something__text {
    line-height: 42px;
  }
}
@media (max-width: 1200px) {
  .header__btn {
    width: 120px;
    font-size: 16px;
  }
  .header__link {
    font-size: 18px;
    margin-right: 35px;
  }
  .logo {
    font-size: 20px;
  }
  .main {
    padding-bottom: 100px;
  }
  .main__title {
    line-height: 50px;
  }
  .main__row {
    margin-top: 60px;
  }
  .main__arrow {
    width: 15vw;
  }
  .main__btn {
    width: 18vw;
    height: 50px;
  }
  .cookies__img {
    width: 20vw;
  }
  .workers,
  .cookies,
  .something {
    padding-bottom: 20px;
  }
  .workers .border {
    height: 86%;
  }
  .workers__text {
    margin: 0 auto;
  }
  .workers__img {
    width: 80vw;
    margin: 0 auto;
  }
  .something__row {
    margin-top: 40px;
  }
  .something__img {
    width: 20vw;
  }
  .something__imgBlock {
    height: 210px;
  }
  .something__text {
    margin-top: 0;
  }
  .start__title {
    font-size: 7vw;
  }
  .start__img {
    width: 30vw;
  }
  .start__arrow_1,
  .start__arrow_2 {
    width: 25vw;
    left: 38vw;
  }
  .start__arrow_3 {
    width: 25vw;
    left: 30vw;
  }
  .start__btn {
    width: 50vw;
    font-size: 3.3vw;
  }
  .footer__btn {
    width: 22vw;
    font-size: 1.9vw;
  }
}
@media (max-width: 992px) {
  .main {
    padding-top: 40px;
  }
  .container {
    padding: 0px 40px;
  }
  .header__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .main__btn span {
    top: -2px;
  }
  .main__arrow {
    margin-top: 10px;
  }
  .something__imgBlock {
    height: 160px;
  }
  .cookies__text,
  .workers__text,
  .something__text {
    line-height: 30px;
  }
  .start {
    padding-bottom: 60px;
  }
  .start__title {
    padding-top: 0px;
    margin-bottom: 60px;
  }
  .start__text {
    font-size: 18px;
    line-height: 24px;
  }
  .start__btn {
    width: 300px;
    height: 70px;
  }
  .footer {
    padding: 40px 0px;
  }
  .footer__btn {
    height: 50px;
    width: 130px;
  }
  .footer__ref {
    width: 180px;
    height: 60px;
    font-size: 16px;
  }
  .footer__ref img {
    width: 20px;
  }
  .footer__ref_linkedin img {
    top: -3px;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 20px;
    margin-left: 10px;
  }
  .main__arrow {
    display: none;
  }
  .main__title {
    font-size: 28px;
    max-width: 50vw;
    line-height: 46px;
  }
  .main__title span {
    font-size: 36px;
  }
  .main__subtitle {
    font-size: 18px;
  }
  .main__btn {
    font-size: 18px;
    width: 150px;
  }
  .main__btn span {
    font-size: 22px;
  }
  .main__contentRow {
    display: block;
  }
  .start__block_2,
  .start__block_4 {
    margin-top: 0;
  }
  .start__arrow_1,
  .start__arrow_2,
  .start__arrow_3 {
    display: none;
  }
  .start__img {
    width: 20vw;
  }
  .start__text {
    font-size: 16px;
    margin-top: 10px;
  }
  .start__row {
    margin-bottom: 20px;
  }
  .start {
    padding-top: 60px;
  }
  .start__title {
    margin-bottom: 30px;
  }
  .start__btn {
    margin-top: 50px;
    height: 60px;
    width: 200px;
  }
  .start__block {
    width: 50%;
  }
  .footer__link {
    margin-bottom: 20px;
  }
  .footer__ref {
    width: 130px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
  }
  .footer__ref img {
    width: 12px;
  }
  .footer__btn {
    width: 100px;
    height: 40px;
  }
  .footer__sign {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0px 20px;
  }
  .title {
    font-size: 28px;
  }
  .header__btn {
    width: 45%;
    margin: 0 6px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__auth {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .logo {
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .header__nav {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
  }
  .header__link,
  .header__link:last-child {
    margin: 0 8px;
  }
  .main__img {
    display: none;
  }
  .main__title {
    max-width: none;
  }
  .cookies {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .cookies__title {
    margin-bottom: 20px;
  }
  .cookies__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cookies__img {
    width: 60vw;
    max-width: 220px;
  }
  .cookies__block {
    max-width: none;
    margin-bottom: 30px;
  }
  .cookies__block:last-child {
    margin-bottom: 0;
  }
  .cookies__text {
    font-size: 18px;
  }
  .cookies__arrow {
    display: none;
  }
  .cookies .border {
    top: 20px;
    height: 100%;
  }
  .workers {
    padding-top: 80px;
  }
  .workers__img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  .workers__text {
    font-size: 18px;
  }
  .workers .border {
    top: 62px;
  }
  .something {
    padding-top: 90px;
  }
  .something__row {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .something__block {
    margin-bottom: 40px;
  }
  .something__block:last-child {
    margin-bottom: 0;
  }
  .something__img {
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
  }
  .something__text {
    font-size: 18px;
  }
  .something .border {
    top: 65px;
    height: 95%;
  }
  .start {
    padding-bottom: 40px;
  }
  .start__title {
    font-size: 36px;
  }
  .start__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .start__block {
    width: 100%;
    max-width: none;
    margin-bottom: 40px;
  }
  .start__img {
    width: 50%;
    max-width: 200px;
  }
  .start__text {
    font-size: 18px;
  }
  .start__text span {
    margin-top: 10px;
    font-size: 30px;
  }
  .start__btn {
    width: 80%;
    height: 50px;
    font-size: 18px;
    max-width: 300px;
  }
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav {
    margin: 5px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__soc,
  .footer__auth,
  .footer__nav {
    width: 100%;
  }
  .footer__soc {
    margin-bottom: 20px;
  }
  .footer__auth {
    margin-top: 20px;
  }
  .footer__ref {
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .footer__ref img {
    width: 15px;
  }
  .footer__link {
    font-size: 18px;
    margin: 5px 10px;
  }
  .footer__btn {
    width: 80%;
    height: 50px;
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
  }
  .footer__sign {
    margin-bottom: 20px;
  }
}
