@font-face {
  font-family: 'Geometria Rg';
  src: url('../fonts/Geometria.woff2') format('woff2'), url('../fonts/Geometria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Th';
  src: url('../fonts/Geometria-Thin.woff2') format('woff2'), url('../fonts/Geometria-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria B';
  src: url('../fonts/Geometria-Bold.woff2') format('woff2'), url('../fonts/Geometria-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Lt';
  src: url('../fonts/Geometria-Light.woff2') format('woff2'), url('../fonts/Geometria-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Med';
  src: url('../fonts/Geometria-Medium.woff2') format('woff2'), url('../fonts/Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Geometria Lt';
}
.container {
  display: block;
  margin: 0 auto;
  width: 1135px;
}
.title {
  font-size: 4.1vw;
  line-height: 91px;
  color: #000;
  margin: 0;
  font-family: 'Geometria Lt';
  font-weight: normal;
  position: relative;
}
.title::before {
  content: 'realisation';
  display: block;
  position: absolute;
  font-size: 8.8vw;
  font-weight: bold;
  color: #000;
  opacity: 0.06;
  top: -25px;
  left: -12px;
}
.text {
  font-size: 1.2vw;
  line-height: 44px;
  font-family: 'Geometria Lt';
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #000;
}
.text span {
  font-family: 'Geometria Rg';
  font-weight: bold;
}
.main {
  min-height: 480px;
  height: 100vh;
  padding: 100px 0px;
  background: #008BB7;
  position: relative;
}
.main-block {
  background: url(../img/main/main-bg.jpg) no-repeat center / cover;
  width: 50.5vw;
  height: 52.2vh;
  min-height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main-block__title {
  position: absolute;
  top: 50%;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -114px;
  font-family: 'Geometria Rg';
  color: #fff;
  font-weight: normal;
  font-size: 9.8vw;
}
.main-list {
  position: absolute;
  left: -100px;
  top: 0;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  list-style-type: none;
}
.main-list__item {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Geometria Rg';
  display: inline-block;
  margin-right: 30px;
}
.main-arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 70px;
}
.content {
  padding-top: 11.5vw;
  padding-bottom: 12vw;
}
.content-text {
  margin-bottom: 60px;
  line-height: 72px;
  font-size: 38px;
}
.content-smallText {
  margin-bottom: 60px;
  max-width: 930px;
}
.content-listText {
  margin-bottom: 35px;
}
.content-link {
  color: #1a1a1a;
  font-size: 16px;
  margin-left: 42px;
  text-decoration: none;
  position: relative;
}
.content-link:hover {
  text-decoration: none;
  color: #1a1a1a;
}
.content-link::before {
  content: '';
  position: absolute;
  display: block;
  height: 0.5px;
  width: 30px;
  background: #000;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.content-listText:nth-child(5) {
  margin-bottom: 90px;
}
.realization {
  padding-top: 13vw;
  padding-bottom: 8.5vw;
}
.realization-title {
  margin-bottom: 60px;
}
.realization-text {
  margin-bottom: 40px;
}
.realization-text:last-child {
  margin-bottom: 0;
}
.sectionSlider {
  background: #F2F2F2;
  position: relative;
  padding: 8.6vw 0px;
}
.sectionSlider-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
.slider-wrapper {
  position: relative;
  width: 100%;
}
.slider-wrapper::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 457px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.4);
  z-index: 9999;
}
.slider-line {
  height: 1px;
  width: 50px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  display: inline-block;
  background: #1a1a1a;
  margin-left: 10px;
  margin-right: 10px;
}
.slider-number,
.active-number {
  font-size: 16px;
  font-family: 'Geometria Rg';
}
.slider-nav {
  position: absolute;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slick-slide img {
  height: 305px;
  width: 457px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: 60px;
}
.slick-center img {
  height: auto;
  width: 100%;
  height: 425px;
  margin: 0;
}
.slick-center .slider-wrapper::before {
  display: none;
}
.slick-prev {
  height: 90px;
  width: 90px;
  background-color: rgba(25, 25, 25, 0.3);
  border-radius: 50%;
  position: absolute;
  left: 23vw;
  background-image: url(../img/prev.png);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9999;
}
.slick-next {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: rgba(25, 25, 25, 0.3);
  background-image: url(../img/next.png);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  right: 23vw;
  z-index: 9999;
}
.slider2 .slick-slide img {
  height: 533px;
  width: 300px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: 70px;
}
.slider2 .slick-center img {
  height: auto;
  width: 100%;
  height: 680px;
  margin: 0;
}
.slider2 .slider-wrapper {
  position: relative;
  width: auto;
}
.slider2 .slider-wrapper::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 300px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.4);
  z-index: 9999;
}
.slider2 .slick-next {
  right: 130px;
}
.slider2 .slick-prev {
  left: 130px;
}
.slider2 .slick-center .slider-wrapper::before {
  display: none;
}
.blockText {
  padding-top: 9vw;
  padding-bottom: 8vw;
}
.blockText2 .blockText-text:nth-child(1) {
  margin-bottom: 40px;
}
.result {
  padding-top: 14vw;
  padding-bottom: 8.4vw;
}
.result-title::before {
  content: 'result';
}
.statistics {
  padding: 7.5vw 0px;
  color: #fff;
  background: #008BB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.statistics .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.statistics-block {
  width: 50%;
  margin-bottom: 45px;
  margin-top: 45px;
}
.statistics-block__num {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-family: 'Geometria Lt';
  text-transform: uppercase;
}
.statistics-block__text {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Geometria Lt';
  display: block;
  margin-bottom: 20px;
}
.statistics-block__text span {
  font-weight: bold;
}
.line {
  border: 1px solid #fff;
  width: 60px;
  height: 0;
  margin-top: 40px;
  margin-bottom: 44px;
}
.blockVK {
  padding: 5vw 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
}
.blockVK .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blockVK-img {
  margin: 20px;
}
@media (max-width: 1500px) {
  .slick-slide img {
    height: 190px;
    width: 340px;
  }
  .slick-center img {
    height: 300px;
    width: 100%;
  }
  .slider-wrapper::before {
    width: 340px;
  }
  .slick-prev {
    left: 24vw;
    width: 70px;
    height: 70px;
  }
  .slick-next {
    right: 24vw;
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .main {
    min-height: 420px;
  }
  .main-block {
    min-height: 300px;
  }
  .content-text {
    font-size: 26px;
  }
  .text {
    font-size: 21px;
  }
}
@media (max-width: 1125px) {
  .slick-slide img {
    height: 150px;
    width: 240px;
    margin-top: 55px;
  }
  .slick-center img {
    height: 255px;
    width: 100%;
    margin-top: 0;
  }
  .slider2 .slick-slide img {
    height: 480px;
    width: 260px;
    margin-top: 55px;
  }
  .slider2 .slick-center img {
    height: 595px;
    width: 300px;
    margin-top: 0;
  }
  .slider-wrapper::before {
    width: 240px;
  }
  .slick-prev {
    left: 23vw;
    width: 50px;
    height: 50px;
  }
  .slick-next {
    right: 23vw;
    width: 50px;
    height: 50px;
  }
  .blockVK-img {
    width: 48%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .main {
    min-height: 480px;
  }
  .main-block {
    width: 600px;
    height: 345px;
    min-height: auto;
  }
  .main-block__title {
    font-size: 100px;
    left: -50px;
  }
  .main-list {
    left: -40px;
  }
  .content-text {
    font-size: 22px;
    line-height: 2;
    margin-bottom: 40px;
  }
  .content,
  .blockText,
  .realization,
  .blockVK,
  .result,
  .statistics {
    padding: 60px 0px;
  }
  .sectionSlider {
    padding: 60px 0px;
    height: auto;
    min-height: auto;
  }
  .text {
    font-size: 16px;
  }
  .title {
    font-size: 60px;
  }
  .title::before {
    font-size: 140px;
  }
  .statistics {
    height: auto;
  }
  .statistics2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .statistics2 .statistics-block {
    width: 100%;
  }
  .slider-nav {
    bottom: 30px;
  }
}
@media (max-width: 900px) {
  .slider-wrapper::before {
    display: none;
  }
  .slick-slide img {
    width: 50vw;
    height: calc(30vw);
    margin: 0 auto;
  }
  .slider2 .slick-slide img {
    height: 500px;
  }
  .slider2 .slick-center img {
    height: auto;
    width: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 500px;
  }
  .slick-next {
    right: 50px;
  }
  .slick-prev {
    left: 50px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 550px;
  }
  .main {
    min-height: 380px;
  }
  .main-block {
    width: 450px;
    height: 260px;
  }
  .main-block__title {
    font-size: 100px;
    left: -50px;
  }
  .main-list {
    left: -40px;
  }
  .content-link {
    margin-left: 10px;
  }
  .content-link::before {
    width: 10px;
    left: -13px;
    top: 12px;
  }
  .content-listText {
    margin-bottom: 10px;
  }
  .content-listText:nth-child(5) {
    margin-bottom: 45px;
  }
  .title {
    font-size: 45px;
    line-height: 70px;
  }
  .title::before {
    font-size: 105px;
  }
  .slider2 .slick-prev {
    left: 50px;
  }
  .slider2 .slick-next {
    right: 50px;
  }
  .sectionSlider-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .blockVK {
    height: auto;
  }
  .blockVK .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .statistics-block {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .container {
    width: 98%;
  }
  .content,
  .blockText,
  .realization,
  .blockVK,
  .result,
  .statistics {
    padding: 40px 0px;
  }
  .sectionSlider {
    padding-top: 0;
  }
  .main {
    min-height: 240px;
    padding: 0;
    padding-top: 20px;
    background-image: url(../img/main/main-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .main-block {
    position: static;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: none;
            transform: none;
    background: transparent;
  }
  .main-block__title {
    font-size: 100px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main-list {
    position: static;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-list__item {
    font-size: 14px;
    margin: 0;
  }
  .slick-slide img {
    width: 300px;
    height: 200px;
    margin: 0 auto;
  }
  .slider2 .slick-slider img {
    margin: 0 auto;
    width: 285px;
    height: 480px;
  }
  .content {
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .content-link {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 24px;
  }
  .title {
    font-size: 30px;
    line-height: 1.8;
  }
  .title:before {
    font-size: 50px;
    top: -34%;
    left: 0px;
  }
  .text {
    line-height: 30px;
  }
  .blockVK-img {
    width: 300px;
  }
}
@media (max-height: 850px) {
  .main-arrow {
    bottom: 40px;
  }
}
@media (max-height: 750px) {
  .main-arrow {
    bottom: 20px;
  }
}
