body {
     background: #A9A9A9;
     color: #000;
     font-family: Georgia;
     font-size: 14px;
}

#header {
     background: #A9A9A9;
     width: 100%;
     height: 55px;
}
 
#container {
     background: #A9A9A9;
     margin: auto auto;
     text-align: center;
     width: 90%;
     height: 870px;
}
 
#navigation {
     background: #A9A9A9;
     width: 100%;
     height: 25px;
}

#sidebar {
     background: #A9A9A9;
     float: left;
     width: 40%;
     height: 700px;
}

#content {
     background: #C0C0C0;
     float: right;
     width: 60%;
     height: 700px;
}
 
#clear {
     clear: both;
}

#footer {
	background: #A9A9A9;
	width: 100%;
	height: 870px;
}
