@font-face {
  font-family: 'Geometria Rg';
  src: url('../fonts/Geometria.woff2') format('woff2'), url('../fonts/Geometria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Th';
  src: url('../fonts/Geometria-Thin.woff2') format('woff2'), url('../fonts/Geometria-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria B';
  src: url('../fonts/Geometria-Bold.woff2') format('woff2'), url('../fonts/Geometria-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Lt';
  src: url('../fonts/Geometria-Light.woff2') format('woff2'), url('../fonts/Geometria-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Med';
  src: url('../fonts/Geometria-Medium.woff2') format('woff2'), url('../fonts/Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Geometria Lt';
}
.container {
  display: block;
  margin: 0 auto;
  width: 59.5vw;
}
.title {
  font-size: 4.1vw;
  line-height: 91px;
  color: #000;
  margin: 0;
  font-family: 'Geometria Lt';
  font-weight: normal;
  position: relative;
}
.title::before {
  content: 'realisation';
  display: block;
  position: absolute;
  font-size: 8.8vw;
  font-weight: bold;
  color: #000;
  opacity: 0.06;
  top: -25px;
  left: -12px;
}
.text {
  font-size: 1.2vw;
  line-height: 44px;
  font-family: 'Geometria Lt';
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #000;
}
.text span {
  font-family: 'Geometria Rg';
  font-weight: bold;
}
.main {
  min-height: 480px;
  height: 100vh;
  padding: 100px 0px;
  background: #000;
  position: relative;
}
.main-block {
  background: url(../img/main/main-bg.jpg) no-repeat center / cover;
  width: 50.5vw;
  height: 52.2vh;
  min-height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main-block__title {
  position: absolute;
  top: 50%;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -5.2vw;
  font-family: 'Geometria Lt';
  color: #fff;
  font-weight: normal;
  font-size: 9.8vw;
}
.main-block__title span {
  font-size: 4vw;
  margin-left: 20px;
}
.main-list {
  position: absolute;
  left: -100px;
  top: 0;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  list-style-type: none;
}
.main-list__item {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Geometria Rg';
  display: inline-block;
  margin-right: 30px;
}
.main-arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 70px;
}
.content {
  padding-top: 11.5vw;
  padding-bottom: 13vw;
}
.content-text {
  margin-bottom: 60px;
  line-height: 72px;
  font-size: 1.9vw;
}
.content-smallText {
  margin-bottom: 60px;
  max-width: 930px;
}
.content-listText {
  margin-bottom: 35px;
}
.content-link {
  color: #1a1a1a;
  font-size: 16px;
  margin-left: 42px;
  text-decoration: none;
  position: relative;
}
.content-link:hover {
  text-decoration: none;
  color: #1a1a1a;
}
.content-link::before {
  content: '';
  position: absolute;
  display: block;
  height: 0.5px;
  width: 30px;
  background: #000;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.content-listText:nth-child(4) {
  margin-bottom: 90px;
}
.picture {
  width: 100%;
}
.audience {
  padding-top: 14vw;
  padding-bottom: 8vw;
}
.audience-title {
  margin-bottom: 60px;
}
.audience-title::before {
  content: 'audience';
}
.audience-block {
  margin-bottom: 40px;
}
.audience-block__title {
  font-family: 'Geometria Rg';
  font-weight: bold;
  margin-bottom: 10px;
}
.audience-block__text {
  margin-bottom: 0px;
}
.audience-block:last-child {
  margin-bottom: 0;
}
.blockImg {
  padding: 5.6vw 0px;
  background: #F2F2F2;
}
.blockImg-img {
  width: 100%;
}
.result {
  padding-top: 14vw;
  padding-bottom: 10.5vw;
}
.result-title {
  margin-bottom: 150px;
}
.result-title::before {
  content: 'result';
}
.result-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.result-num {
  color: #000;
  font-size: 48px;
  font-family: 'Geometria Rg';
  font-weight: bold;
}
.result-text {
  font-size: 16px;
  color: #1A1A1A;
  font-family: 'Geometria Lt';
  font-weight: 300;
  margin-right: 10px;
  display: inline-block;
}
.result-line {
  width: 60px;
  height: 0;
  border: 1px solid #1a1a1a;
  margin-top: 40px;
  margin-bottom: 44px;
}
.result-block {
  margin-bottom: 85px;
}
.result-block:last-child {
  margin-bottom: 0;
}
.statistics {
  padding: 7.5vw 0px;
  color: #fff;
  background: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.statistics .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.statistics-block {
  width: 50%;
  margin-bottom: 90px;
}
.statistics-block__num {
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Geometria Med';
  text-transform: uppercase;
}
.statistics-block__text {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Geometria Lt';
  display: block;
  margin-bottom: 20px;
}
.statistics-block__text span {
  font-weight: bold;
}
.statistics-block:nth-child(3),
.statistics-block:nth-child(4) {
  margin-bottom: 0;
}
.line {
  border: 1px solid #fff;
  width: 60px;
  height: 0;
  margin-top: 40px;
  margin-bottom: 44px;
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .main {
    min-height: 420px;
  }
  .main-block {
    min-height: 300px;
  }
  .content-text {
    font-size: 26px;
  }
  .text {
    font-size: 21px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .main {
    min-height: 480px;
  }
  .main-block {
    width: 600px;
    height: 345px;
    min-height: auto;
  }
  .main-block__title {
    font-size: 100px;
    left: -50px;
  }
  .main-list {
    left: -40px;
  }
  .content-text {
    font-size: 22px;
    line-height: 2;
    margin-bottom: 40px;
  }
  .content,
  .statistics,
  .result,
  .audience,
  .blockImg {
    padding: 60px 0px;
  }
  .result-flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .result-img {
    width: 400px;
  }
  .main-block__title span {
    font-size: 50px;
  }
  .content-listText {
    margin-bottom: 5px;
  }
  .text {
    font-size: 16px;
  }
  .title {
    font-size: 60px;
  }
  .title::before {
    font-size: 140px;
  }
  .statistics {
    height: auto;
  }
  .statistics2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .statistics2 .statistics-block {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 550px;
  }
  .main {
    min-height: 380px;
  }
  .main-block {
    width: 450px;
    height: 260px;
  }
  .main-block__title {
    font-size: 80px;
    left: -50px;
  }
  .main-list {
    left: -40px;
  }
  .content-link {
    margin-left: 10px;
  }
  .content-link::before {
    width: 10px;
    left: -13px;
    top: 12px;
  }
  .content-listText {
    margin-bottom: 10px;
  }
  .content-listText:nth-child(5) {
    margin-bottom: 45px;
  }
  .title {
    font-size: 45px;
    line-height: 70px;
  }
  .title::before {
    font-size: 105px;
  }
  .result-title {
    margin-bottom: 40px;
  }
  .result-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .result-img {
    display: none;
  }
  .statistics-block {
    width: 100%;
  }
  .statistics-block:nth-child(3) {
    margin-bottom: 90px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 98%;
  }
  .content,
  .statistics,
  .audience,
  .blockImg,
  .result {
    padding: 40px 0px;
  }
  .main {
    min-height: 240px;
    padding: 0;
    padding-top: 20px;
    background-image: url(../img/main/main-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .main-block {
    position: static;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: none;
            transform: none;
    background: transparent;
  }
  .main-block__title {
    width: 100%;
    text-align: center;
    font-size: 50px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .main-block__title span {
    font-size: 25px;
    margin-left: 5px;
  }
  .main-list {
    position: static;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-list__item {
    font-size: 14px;
    margin: 0;
  }
  .content {
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .content-link {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    margin-left: 24px;
  }
  .title {
    font-size: 30px;
    line-height: 1.8;
  }
  .title:before {
    font-size: 50px;
    top: -34%;
    left: 0px;
  }
  .text {
    line-height: 30px;
  }
  .content-listText:nth-child(4) {
    margin-bottom: 40px;
  }
  .audience-title {
    margin-bottom: 30px;
  }
  .statistics-block,
  .statistics-block:nth-child(3) {
    margin-bottom: 60px;
  }
}
@media (max-height: 850px) {
  .main-arrow {
    bottom: 40px;
  }
}
@media (max-height: 750px) {
  .main-arrow {
    bottom: 20px;
  }
}
