body{
	padding: 0;
	margin: 0;
}
.main{
	height: 100vh;
	width: 100vw;
}
img{
	width: 25%;
}
@media (min-width: 1800px) and (max-height: 1100px){
	img{
		width: 25%;
		height: 50vh;
	}
}
@media (max-width: 1800px){
	.main{
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	.main-wrapper{
		width: 100%;
	}
}
@media (max-width: 768px){
	img{
		width: 33.333333333%;
	}
}
@media (max-width: 576px){
	img{
		width: 50%;
	}
}
@media (max-width: 423px){
	img{
		width: 100%;
	}
}