@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster);
body
{
	color: #666;
	font: 300 14px/1.8 Raleway,sans-serif;
	overflow-x: hidden;
}
img
{
	height: auto;
	max-width: 100%;
}
a
{
	color: #E7746F;
	moz-transition: all 125ms ease-in-out 0s;
	ms-transition: all 125ms ease-in-out 0s;
	o-transition: all 125ms ease-in-out 0s;
	transition: all 125ms ease-in-out 0s;
	webkit-transition: all 125ms ease-in-out 0s;
}
a:hover
{
	color: #999;
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6
{
	color: #222;
	font: 700 40px/1.2 Raleway,sans-serif;
	letter-spacing: 5px;
	margin: 5px 0;
	text-transform: uppercase;
}
h5,h6
{
	font-weight: 400;
}
.pfblock-subtitle,.start
{
	font-family: Raleway,"Times New Roman",Times,sans-serif;
	font-style: normal;
}
h2
{
	font-size: 30px;
	margin: 0 0 30px;
}
h3
{
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 0 5px;
}
h4,h5
{
	font-size: 12px;
	letter-spacing: 1px;
}
h6
{
	font-size: 11px;
	letter-spacing: 1px;
}
.intro h1,.pfblock-title
{
	font-weight: 800;
}
.scroll-up a
{
	border-radius: 3px;
	moz-border-radius: 3px;
	o-border-radius: 3px;
	webkit-border-radius: 3px;
}
.pfblock
{
	padding: 80px 0 100px;
}
.pfblock-gray
{
	background: #f5f5f5;
}
.pfblock-image
{
	padding: 0;
}
.pfblock-image,.pfblock-image h1,.pfblock-image h2,.pfblock-image h3,.pfblock-image h4,.pfblock-image h5,.pfblock-image h6
{
	color: #fff;
}
.pfblock-header
{
	margin: 0;
	text-align: center;
}
.pfblock-header-left
{
	text-align: left;
}
#footer,.about-block img,.about-title,.grid,.grid figure,.intro,.scroll-up a,.social-links a,h3.about-tech
{
	text-align: center;
}
.pfblock-header-left .pfblock-line
{
	margin: 30px 0;
	width: inherit;
}
.pfblock-subtitle
{
	font-size: 18px;
}
.pfblock-line
{
	background: rgba(135,135,135,.5);
	height: 1px;
	margin: 30px auto;
	width: 100px;
}
.home-overlay,.intro
{
	left: 0;
	position: absolute;
	width: 100%;
}
.pfblock-icon
{
	font-size: 32px;
}
.home-overlay
{
	background-color: rgba(44,62,80,.3);
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
	height: 100%;
	top: 0;
	z-index: 0;
}
.intro
{
	moz-transform: translate(0,-50%);
	ms-transform: translate(0,-50%);
	o-transform: translate(0,-50%);
	padding: 0 15px;
	top: 50%;
	transform: translate(0,-50%);
	webkit-transform: translate(0,-50%);
}
.start
{
	font-size: 18px;
	margin: 15px 0;
	text-transform: none;
}
#footer
{
	background: #222;
	color: #FFF;
	padding: 40px 0;
}
.copyright
{
	margin: 0;
}
.copyright a
{
	border-bottom: 1px dotted #fff;
}
#footer span
{
	animation-iteration-count: infinite;
	color: #ff5252;
	webkit-animation-iteration-count: infinite;
}
.social-links
{
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}
.social-links li
{
	display: inline-block;
	margin: 5px;
}
.social-links a
{
	border: 1px solid rgba(255,255,255,.1);
	border-radius: 3px;
	color: rgba(255,255,255,.2);
	display: block;
	font-size: 14px;
	height: 36px;
	line-height: 35px;
	moz-border-radius: 3px;
	webkit-border-radius: 3px;
	width: 36px;
}
.social-links a:hover
{
	border: 1px solid rgba(255,255,255,.5);
	color: rgba(255,255,255,.8);
}
.scroll-up
{
	bottom: 2em;
	display: none;
	position: fixed;
	right: 2em;
	z-index: 999;
}
.scroll-up a
{
	background-color: rgba(135,135,135,.5);
	color: #fff;
	display: block;
	font-size: 15px;
	height: 35px;
	line-height: 30px;
	width: 35px;
}
.scroll-up a:active,.scroll-up a:hover
{
	background-color: rgba(235,235,235,.8);
	color: #e7746f;
}
.scroll-down
{
	border: 2px solid #fff;
	border-radius: 50%;
	bottom: 40px;
	display: block;
	height: 50px;
	left: 50%;
	margin-left: -15px;
	position: absolute;
	text-align: center;
	width: 50px;
	z-index: 10;
}
.scroll-down span
{
	animation-delay: 0s;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: drop;
	animation-play-state: running;
	animation-timing-function: linear;
	color: #fff;
	position: relative;
	webkit-animation-delay: 0s;
	webkit-animation-duration: 1s;
	webkit-animation-iteration-count: infinite;
	webkit-animation-name: drop;
	webkit-animation-play-state: running;
	webkit-animation-timing-function: linear;
}
@-webkit-keyframes drop
{
	0%
	{
		opacity: 0;
		top: 0;
	}
	30%
	{
		opacity: 1;
		top: 10px;
	}
	100%
	{
		opacity: 0;
		top: 25px;
	}
}
@keyframes drop
{
	0%
	{
		opacity: 0;
		top: 0;
	}
	30%
	{
		opacity: 1;
		top: 10px;
	}
	100%
	{
		opacity: 0;
		top: 25px;
	}
}
#preloader
{
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}
#status
{
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}
.grid,.grid figure,.grid figure img
{
	max-width: 100%;
	position: relative;
}
@media (max-width:767px)
{
	.calltoaction
	{
		text-align: center;
	}
}
@media (max-width:480px)
{
	h1,h2
	{
		letter-spacing: 3px;
	}
	h1
	{
		font-size: 34px;
	}
	h2
	{
		font-size: 24px;
		margin: 0 0 30px;
	}
}
.grid
{
	clear: both;
	list-style: none;
	margin: 0 auto;
	padding: 1em 0 4em;
}
.grid h2
{
	font-size: 20px;
}
.grid figure
{
	background: #3085a3;
	cursor: pointer;
	float: left;
	height: auto;
	margin: 10px 1%;
	min-width: 100%;
	overflow: hidden;
}
.grid figure img
{
	display: block;
	min-height: auto;
	opacity: .8;
}
.grid figure figcaption
{
	backface-visibility: hidden;
	color: #fff;
	font-size: 1.25em;
	padding: 2em;
	text-transform: uppercase;
	webkit-backface-visibility: hidden;
}
.grid figure figcaption::after,.grid figure figcaption::before
{
	pointer-events: none;
}
.grid figure figcaption,.grid figure figcaption>a
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.grid figure figcaption>a
{
	font-size: 0;
	opacity: 0;
	text-indent: 200%;
	white-space: nowrap;
	z-index: 1000;
}
.grid figure h2
{
	font-weight: 300;
	word-spacing: -.15em;
}
.grid figure h2 span
{
	font-weight: 800;
}
.grid figure h2,.grid figure p
{
	margin: 0;
}
.grid figure p
{
	font-size: 68.5%;
	letter-spacing: 1px;
}
figure.effect-bubba
{
	background: #9e5406;
	height: 235px;
}
figure.effect-bubba img
{
	opacity: .7;
	transition: opacity .35s;
	webkit-transition: opacity .35s;
}
figure.effect-bubba:hover img
{
	opacity: .2;
}
figure.effect-bubba figcaption::after,figure.effect-bubba figcaption::before
{
	bottom: 30px;
	content: '';
	left: 30px;
	opacity: 0;
	position: absolute;
	right: 30px;
	top: 30px;
	transition: opacity .35s,transform .35s;
	webkit-transition: opacity .35s,-webkit-transform .35s;
}
figure.effect-bubba figcaption::before
{
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	transform: scale(0,1);
	webkit-transform: scale(0,1);
}
figure.effect-bubba figcaption::after
{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: scale(1,0);
	webkit-transform: scale(1,0);
}
figure.effect-bubba h2
{
	color: #fff;
	padding-top: 10%;
	transform: translate3d(0,-20px,0);
	transition: transform .35s;
	webkit-transform: translate3d(0,-20px,0);
	webkit-transition: -webkit-transform .35s;
}
figure.effect-bubba p
{
	opacity: 0;
	padding: 20px 2.5em;
	transform: translate3d(0,20px,0);
	transition: opacity .35s,transform .35s;
	webkit-transform: translate3d(0,20px,0);
	webkit-transition: opacity .35s,-webkit-transform .35s;
}
figure.effect-bubba:hover figcaption::after,figure.effect-bubba:hover figcaption::before
{
	opacity: 1;
	transform: scale(1);
	webkit-transform: scale(1);
}
figure.effect-bubba:hover h2,figure.effect-bubba:hover p
{
	opacity: 1;
	transform: translate3d(0,0,0);
	webkit-transform: translate3d(0,0,0);
}
.about
{
	padding-top: 80px;
}
.about-img
{
	border-radius: 50%;
	height: 350px;
	overflow: hidden;
	width: 350px;
}
.about-img img
{
	position: relative;
	top: -60px;
	width: auto;
}
.about-text
{
	font-size: 21px;
}
.about-block
{
	display: flex;
	flex-wrap: wrap;
}
.about-blockIcon
{
	margin-bottom: 20px;
	width: 20%;
}
.about-block img
{
	display: block;
	height: 60px;
	margin: 0 auto;
	width: 60px;
}
h3.about-tech
{
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 25px;
}
@media (min-width:390px) and (max-width:767px)
{
	.grid
	{
		width: 360px;
	}
}
@media (max-width:1200px)
{
	.about-img
	{
		height: 290px;
		width: 290px;
	}
	figure.effect-bubba
	{
		height: 193px;
	}
}
@media (max-width:992px)
{
	.about-img
	{
		display: none;
	}
	figure.effect-bubba
	{
		height: 225px;
	}
	.about-text
	{
		font-size: 18px;
	}
}
@media(max-width:768px)
{
	figure.effect-bubba
	{
		height: 238px;
	}
}
@media (max-width:576px)
{
	.pfblock
	{
		padding-top: 70px;
	}
	.about-text
	{
		font-size: 15px;
	}
}
@media (max-width:992px) and (min-width:768px)
{
	.figure.effect-bubba h2
	{
		font-size: 15px;
	}
}
@media(max-width:425px)
{
	.about-blockIcon
	{
		width: 25%;
	}
	figure.effect-bubba
	{
		height: 190px;
	}
}
@media (max-width:350px)
{
	.grid h2
	{
		font-size: 14px;
	}
	.grid figure p
	{
		font-size: 10px;
	}
	.about-block img
	{
		height: 40px;
		width: 40px;
	}
}