@font-face {
  font-family: 'Museo300';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo500';
  src: url('../fonts/MuseoSansCyrl-500.eot');
  src: url('../fonts/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo100';
  src: url('../fonts/MuseoSansCyrl-100.eot');
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), url('../fonts/MuseoSansCyrl-100.woff') format('woff'), url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'), url('../fonts/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
  font-weight: 300;
  font-style: normal;
}
.light {
  font-family: 'Museo100';
  font-weight: 300;
  font-style: normal;
}
.reg {
  font-family: 'Museo300';
  font-weight: 300;
  font-style: normal;
}
.bold {
  font-family: 'Museo500';
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
button:active,
button:focus,
input:active,
input:focus {
  outline: none;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.container {
  width: 80%;
  max-width: 1180px;
  margin: 0 auto;
}
.line {
  height: 20px;
  background: #459ad4;
  width: 100%;
}
.header {
  height: 160px;
  padding-top: 55px;
}
.main {
  padding-bottom: 450px;
  background: url(../img/bottom-bg.jpg) no-repeat bottom;
  background-size: 100%;
}
.search {
  height: 90px;
  line-height: 90px;
  margin-bottom: 15px;
}
.search-title {
  font-size: 2.4rem;
  color: #333;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  font-family: 'Museo500';
  font-weight: normal;
  font-style: normal;
  margin-right: 68px;
}
.search-input {
  width: 280px;
  height: 38px;
  border: 1px solid #c2c4c5;
  border-radius: 25px;
  padding-left: 20px;
  font-family: 'Museo300';
  font-weight: 300;
  font-style: normal;
}
.search-btn {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #459ad4;
  background-image: url(../img/zoom.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
  position: relative;
  right: 38px;
  top: 10px;
  cursor: pointer;
}
form {
  display: inline-block;
}
.sidebar {
  float: left;
}
.sidebar-user {
  height: 110px;
  width: 280px;
  background: #f2f3f3;
  margin-bottom: 15px;
}
.sidebar-user__circle {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  background: #e8252c;
  text-align: center;
  line-height: 73px;
  font-size: 2.4rem;
  font-family: 'Museo500';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  float: left;
  position: relative;
  right: 20px;
  top: 17px;
}
.sidebar-blockName {
  padding-top: 30px;
}
.sidebar-blockName__text {
  font-size: 1.6rem;
  color: #4e4e4e;
  font-family: 'Museo100';
  font-weight: 300;
  font-style: normal;
}
.sidebar-blockName__name {
  font-size: 1.6rem;
  color: #4e4e4e;
  font-family: 'Museo500';
  font-weight: normal;
  font-style: normal;
  margin: 0;
}
.sidebar-menu {
  width: 280px;
}
.sidebar-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar-menu__link {
  position: relative;
  line-height: 40px;
  height: 40px;
  width: 100%;
  display: block;
  font-size: 1.6rem;
  font-family: 'Museo100';
  font-weight: 300;
  font-style: normal;
  color: #333;
  text-decoration: none;
  padding-left: 75px;
}
.sidebar-menu__link:hover {
  text-decoration: none;
  color: #333;
  background: #f2f3f3;
}
.sidebar-menu__link:hover::before {
  content: '';
  display: inline-block;
  height: 100%;
  background: #459ad3;
  width: 5px;
  position: absolute;
  left: 0;
}
.sidebar-menu__link img {
  position: absolute;
  left: 23px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.sidebar-menu__btn {
  background: #459ad3;
  width: 100%;
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Museo100';
  font-weight: 300;
  font-style: normal;
  height: 50px;
  padding-left: 75px;
  display: block;
  line-height: 50px;
  text-decoration: none;
  margin-top: 20px;
}
.active {
  background: #f2f3f3;
}
.active::before {
  content: '';
  display: inline-block;
  height: 100%;
  background: #459ad3;
  width: 5px;
  position: absolute;
  left: 0;
}
.statics {
  margin-left: 20px;
  float: left;
  width: 68%;
}
.statics-blockTitle {
  height: 100px;
  width: 100%;
  line-height: 100px;
  background: #f3f3f3;
  padding-left: 36px;
  margin-bottom: 15px;
}
.statics-blockTitle__title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: 'Museo500';
  font-weight: normal;
  font-style: normal;
  color: #333;
  margin: 0;
}
.statics-block {
  padding-bottom: 40px;
}
.statics-block__titleBlock {
  position: relative;
  padding-left: 30px;
  border-top: 1px solid #d1d2d3;
  border-bottom: 1px solid #d1d2d3;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.statics-block__icon {
  margin-right: 20px;
}
.statics-block__title {
  font-size: 1.6rem;
  color: #5d5d5d;
  font-family: 'Museo300';
  font-weight: 300;
  font-style: normal;
}
.statics-block__title span {
  text-transform: uppercase;
}
.statics-block__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 36px;
  cursor: pointer;
}
.statics-block__btn {
  padding: 12px 26px;
  border: 1px solid #bebebe;
  text-transform: uppercase;
  font-family: 'Museo500';
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  color: #666;
  background: transparent;
  border-radius: 25px;
  cursor: pointer;
  float: right;
  margin-left: 15px;
}
.statics-block__btn_blue {
  border: none;
  background: #459ad3;
  color: #fff;
  padding: 12px 35px;
}
.statics-table {
  width: 100%;
  margin-bottom: 30px;
}
.statics-table th {
  height: 40px;
  font-family: 'Museo300';
  font-weight: 300;
  font-style: normal;
  font-size: 1.4rem;
  color: #5d5d5d;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f2f2f2;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
}
.statics-table td {
  height: 40px;
  font-size: 1.6rem;
  font-family: 'Museo100';
  font-weight: 300;
  font-style: normal;
  color: #4d4d4d;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: middle;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  width: 11%;
}
.clear::after {
  content: "";
  display: table;
  clear: both;
}
th.col {
  font-family: 'Museo500';
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  width: 250px;
  text-align: left;
  padding-left: 25px;
}
td.col {
  width: 250px;
  text-align: left;
  padding-left: 25px;
}
.table-tarif {
  width: 100%;
}
.table-tarif td {
  width: 20%;
}
.table-tarif td.col {
  width: 40%;
}
.table-tarif th.col {
  width: 40%;
}
.footer {
  height: 80px;
  background: #2a3570;
  line-height: 80px;
}
.footer-list {
  padding: 0;
  margin: 0;
}
.footer-item {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
}
.footer-link {
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Museo100';
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline;
}
@media (max-width: 1172px) {
  .statics {
    width: 100%;
    margin: 0;
    margin-top: 50px;
  }
  .search {
    position: absolute;
    right: 10%;
    top: 160px;
  }
  form {
    position: relative;
    top: -40px;
  }
}
@media (max-width: 1700px) {
  .search {
    right: -4%;
  }
}
@media (max-width: 900px) {
  .container {
    width: 90%;
  }
  .search {
    right: -15%;
  }
}
@media (max-width: 800px) {
  .search {
    right: -30%;
  }
}
@media (max-width: 700px) {
  .search {
    right: -3%;
  }
  .search-title {
    display: block;
  }
  .container {
    width: 100%;
  }
  .sidebar {
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .header-logo {
    display: block;
    margin: 0 auto;
  }
  .search {
    width: 100%;
    position: static;
    text-align: center;
  }
  .search-title {
    display: inline-block;
    margin-right: 20px;
  }
  .search-input {
    width: 200px;
  }
  form {
    position: static;
  }
  .footer-item {
    margin-left: 15px;
  }
  .table tr td {
    display: block;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .search-title {
    display: inline-block;
    margin-right: 10px;
    font-size: 2rem;
  }
  .search-input {
    width: 153px;
  }
}
@media (max-width: 410px) {
  .footer {
    height: auto;
  }
  .footer-link {
    font-size: 1.4rem;
  }
  .footer-item {
    margin-left: 5px;
  }
}
@media (max-width: 400px) {
  .header {
    height: 100px;
    padding-top: 30px;
  }
  .search {
    margin-bottom: 50px;
  }
  .search-title {
    display: block;
  }
  .search-input {
    width: 200px;
    position: relative;
  }
  form {
    position: relative;
    top: -40px;
    left: 7px;
  }
  .sidebar {
    margin-left: 20px;
  }
}
