* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: sans-serif;
}

.container {
    width: 100%;
    padding: 0px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    min-height: 100vh;
    padding: 3vw 0px;
    background: url(../img/bg.jpg) no-repeat center / cover;
    position: relative;
}

.main::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.main-content {
    display: none;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.main-content.active {
    display: block;
}

.main-content__title {
    margin-bottom: 10px;
}

.main-content.last{
    font-size: 24px
}
.main-content.last h2{
    font-size: 24px
}

.main__title {
    position: relative;
    z-index: 3;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.main-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.main-block__img {
    max-width: 100%;
    cursor: pointer;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
    display: none;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 36px;
    text-align: center;
}

@media (max-width: 576px) {
    .container {
        padding: 0px 10px;
    }
    .main-block {
        display: flex;
        flex-direction: column;
    }
    .main-content {
        padding: 0;
    }
    .main-content.last h2 {
        font-size: 24px;
    }
}