@font-face {
    font-family: 'Gotham Med';
    src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Reg';
    src: url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@green: #57C585;


@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes blink {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 100%;
  overflow-x: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

.btn{
  width: 172px;
  height: 40px;
  background: @green;
  box-shadow: 0px 4px 14px rgba(87, 197, 133, 0.4);
  border-radius: 5px;
  font-family: 'Gotham Bold';
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    box-shadow: none;
  }
}

.title{
  font-family: 'Gotham Bold';
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  line-height: 100%;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: -38px;
    left: 0;
    border-bottom: 17px solid @green;
    border-right: 10px solid transparent;
    height: 0;
    width: 76px;
  }
}

.section-title{
  font-size: 24px;
}

.section-BigTitle{
  font-size: 48px;
}

.container{
  width: 100%;
  max-width: 1250px;
  padding: 0px 60px;
  margin: 0 auto;
}

.header{
  width: 100%;
  background: linear-gradient(to right, transparent 50%, @green 50%);
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 116px;
  }
  &__column{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
  &__logo{
    margin-right: 20px;
  }
  &-timetable{
    &__title{
      font-family: 'Gotham Bold';
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: @green;
      margin-bottom: 9px;
    }
    &__text{
      font-family: 'Gotham Med';
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
    }
  }
  &__tel{
    font-family: 'Gotham Med';
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;
  }
  &-address{
    font-family: 'Gotham Med';
    color: #fff;
    font-size: 18px;
    // margin-right: 120px;
    margin-right: 7.5vw;
    &__street{
      margin-bottom: 10px;
    }
    &__mail{
      font-size: 12px;
      color: #fff;
      text-decoration: none;
    }
  }
}

.main{
  background: url(../img/main/main__bg.png) no-repeat right 0px;
  background-size: 60%;
  padding-top: 35px;
  padding-bottom: 50px;
  &__title{
    text-transform: uppercase;
    color: @green;
    font-family: 'Gotham Bold';
    font-size: 68px;
    max-width: 680px;
    line-height: 100%;
  }
  &__subtitle{
    text-transform: uppercase;
    color: #000;
    font-family: 'Gotham Bold';
    font-size: 18px;
    max-width: 220px;
    margin-top: 60px;
    margin-bottom: 18px;
  }
}

.checkout{
  padding-top: 82px;
  padding-bottom: 90px;
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__form{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 570px;
  }
  &__formTitle{
    margin-top: 37px;
    margin-bottom: 26px;
    font-family: 'Gotham Reg';
    font-size: 14px;
    color: #000;
  }
  &__block{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
  }
  &__input{
    width: 172px;
    height: 40px;
    background: #F4F4F4;
    border-radius: 5px;
    padding-left: 28px;
    border: none;
    font-family: 'Gotham Reg';
    font-size: 14px;
    color: #000;
  }
  &__warning{
    font-family: 'Gotham Reg';
    color: #BABABA;
    font-size: 7px;
    max-width: 135px;
    position: absolute;
    right: 35px;
    bottom: -25px;
    line-height: 100%;
  }
  &__checkbox{
    display: none;
  }
  &__checkbox + label{
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #57C585;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    margin-right: 250px;
    &::before{
      content: attr(data-text);
      position: absolute;
      left: 42px;
      top: 4px;
      display: block;
      width: 100px;
      height: 20px;
      font-family: 'Gotham Reg';
      color: #000;
      font-size: 12px;
      width: 210px;
    }
  }
  &__checkbox:checked + label{
    background: @green;
  }
}

.consultation{
  height: 388px;
  background: url(../img/consultation/consultation__bg.png) no-repeat right;
  position: relative;
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__form{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-right: 190px;
  }
  &__input{
    margin-bottom: 24px;
    width: 172px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    padding-left: 28px;
    border: none;
    font-family: 'Gotham Reg';
    font-size: 14px;
    color: #000;
  }
  &__block{
    border-bottom: 226px solid @green;
    border-right: 150px solid transparent;
    height: 0;
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
  }
  &__title{
    max-width: 430px;
    font-size: 48px;
    color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    &::before{
      border-bottom: 17px solid #fff;
    }
    &_mob{
      display: none;
    }
  }
  &__phone{
    position: absolute;
    right: -320px;
    top: -95px;
    width: 368px;
  }
}

.services{
  padding-top: 90px;
  padding-bottom: 63px;
  &__title{
    margin-bottom: 53px;
  }
  &__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 38px;
  }
  &-card{
    max-width: 172px;
    &__img{
      border-radius: 10px;
    }
    &__content{
      padding-top: 24px;
      padding-bottom: 14px;
    }
    &__name{
      font-family: 'Gotham Bold';
      font-size: 14px;
      color: #000;
      margin-bottom: 5px;
    }
    &__price{
      font-family: 'Gotham Reg';
      font-size: 14px;
      color: #000;
    }
    &__btn{
      text-transform: none;
      text-align: center;
      font-size: 12px;
      line-height: 100%;
    }
  }
}

.features{
  padding-top: 75px;
  padding-bottom: 28px;
  background: @green;
  .container{
    position: relative;
  }
  &__bg{
    position: absolute;
    right: 0;
    bottom: -28px;
  }
  &__title{
    color: #fff;
    font-size: 48px;
    max-width: 650px;
    margin-bottom: 50px;
    &::before{
      border-bottom: 17px solid #fff;
    }
  }
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    color: #fff;
    &_2{
      width: 370px;
      border-top: 3px solid #FFFFFF;
      padding-top: 40px;
      margin-top: 18px;
    }
  }
  &-block{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-bottom: 44px;
    &__content{
      margin-left: 20px;
      max-width: 175px;
    }
    &__title{
      font-family: 'Gotham Bold';
      font-size: 18px;
      margin-bottom: 10px;
    }
    &__text{
      font-family: 'Gotham Reg';
      font-size: 14px;
    }
  }
  &-statistics{
    width: 165px;
    margin-bottom: 20px;
    &__number{
      font-family: 'Gotham Bold';
      font-size: 64px;
      line-height: 100%;
      color: #fff;
    }
    &__desc{
      font-family: 'Gotham Bold';
      font-size: 14px;
      color: #fff;
    }
  }
}

.price{
  padding-top: 67px;
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title{
    font-size: 48px;
    max-width: 543px;
    margin-right: 25px;
    span{
      color: @green;
    }
  }
}

.stages{
  padding-bottom: 53px;
  &__title{
    margin-bottom: 33px;
  }
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  &-block{
    max-width: 160px;
    padding-right: 9px;
    border-right: 2px solid #C4C4C4;
    margin-right: 19px;
    &__step{
      font-family: 'Gotham Bold';
      font-size: 48px;
      color: @green;
      line-height: 100%;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    &__text{
      font-family: 'Gotham Reg';
      font-size: 14px;
      color: #000;
    }
  }
}

.examination{
  padding-bottom: 42px;
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
  }
  &__title{
    max-width: 440px;
    margin-bottom: 55px;
    font-size: 48px;
    padding-top: 25px;
    span{
      color: @green;
    }
    &::before{
      display: none;
    }
  }
  &__list{
    max-width: 435px;
    padding-left: 35px;
  }
  &__item{
    font-family: 'Gotham Bold';
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    line-height: 100%;
    position: relative;
    &::before{
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: @green;
      position: absolute;
      left: -35px;
      top: 5px;
    }
  }
  &__img{
    margin-left: 75px;
  }
}

.employees{
  padding-top: 70px;
  padding-bottom: 50px;
  background: @green;
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title{
    color: #fff;
    margin-bottom: 42px;
    &::before{
      border-bottom: 17px solid #fff;
    }
  }
  &-block{
    text-align: center;
    max-width: 172px;
    &__img{
      border-radius: 50%;
    }
    &__name{
      font-family: 'Gotham Bold';
      font-size: 18px;
      color: #fff;
      margin: 0 auto;
      margin-top: 24px;
      margin-bottom: 16px;
      line-height: 100%;
      max-width: 80%;
    }
    &__experience{
      font-family: 'Gotham Reg';
      font-size: 14px;
      color: #fff;
      margin-bottom: 16px;
    }
    &__profession{
      font-family: 'Gotham Bold';
      font-size: 14px;
      color: #fff;
      margin: 0 auto;
      max-width: 60%;
      border-top: 1px solid #fff;
      padding-top: 12px;
    }
  }
}

.reviews{
  padding-top: 56px;
  padding-bottom: 87px;
  &__title{
    margin-bottom: 29px;
    &::before{
      display: none;
    }
  }
  &__row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 25px;
  }
  &__video{
    &:nth-child(1){
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &:nth-child(6){
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 4;
    }
  }
  iframe{
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.sale{
  background: url(../img/sale/sale__bg.png) no-repeat left;
  background-size: 89% 100%;
  position: relative;
  padding-top: 111px;
  height: 388px;
  &__mob{
    display: none;
  }
  &__title{
    color: #fff;
    font-size: 48px;
    max-width: 400px;
    &::before{
      border-bottom: 17px solid #fff;
    }
  }
  &__subtitle{
    font-family: 'Gotham Bold';
    font-size: 18px;
    color: #fff;
    margin-top: 63px;
  }
  &__block{
    border-bottom: 226px solid @green;
    border-left: 150px solid transparent;
    height: 0;
    width: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
  &__text{
    font-size: 48px;
    line-height: 100%;
    max-width: 320px;
    padding-top: 38px;
    color: #fff;
    font-family: 'Gotham Bold';
  }
  &__number{
    font-size: 107px;
    line-height: 100%;
    padding-top: 38px;
    color: #fff;
    font-family: 'Gotham Bold';
  }
}

.payment{
  padding-top: 111px;
  padding-bottom: 95px;
  &__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__title{
    margin-bottom: 35px;
  }
  &-method{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    &__text{
      font-family: 'Gotham Bold';
      font-size: 24px;
      color: #fff;
      margin-left: 44px;
      max-width: 265px;
      color: #000;
      line-height: 100%;
    }
  }
  &-conditions{
    border: 2px solid @green;
    border-radius: 10px;
    padding: 50px;
    padding-bottom: 0px;
    max-width: 555px;
    &__title{
      font-family: 'Gotham Bold';
      font-size: 35px;
      line-height: 100%;
      color: #000;
      border-bottom: 1px solid @green;
      padding-bottom: 38px;
      margin-bottom: 42px;
    }
    &__number{
      font-family: 'Gotham Bold';
      font-size: 74px;
      color: #000;
      line-height: 100%;
      margin-bottom: 6px;
    }
    &__text{
      font-family: 'Gotham Reg';
      font-size: 18px;
      color: #000;
      margin-bottom: 60px;
    }
  }
}

.gallery{
  padding-bottom: 65px;
  position: relative;
  &__title{
    margin-bottom: 38px;
    &::before{
      display: none;
    }
  }
  &__img{
    border-radius: 10px;
  }
  .swiper-pagination{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: #E5E5E5;
    opacity: 1;
    margin: 0px 10px;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active{
    background: @green;
  }
}

.sertificates{
  padding-top: 100px;
  padding-bottom: 144px;
  .container{
    position: relative;
  }
  &__title{
    margin-bottom: 98px;
    &::before{
      display: none;
    }
  }
  &-container{
    overflow: hidden;
  }
  &-pagination{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
  .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    background: #E5E5E5;
    opacity: 1;
    margin: 0px 10px;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active{
    background: @green;
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 78px;
  background: @green;
  font-family: 'Gotham Med';
  color: #fff;
  &__warning{
    font-family: 'Gotham Reg';
    color: #fff;
    font-size: 7px;
    max-width: 135px;
    position: absolute;
    right: 35px;
    bottom: -25px;
    line-height: 100%;
  }
	&__row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
	}
	&__tel {
    font-size: 50px;
    display: inline-block;
    margin-top: 109px;
    margin-bottom: 14px;
    text-decoration: none;
    color: #fff;
    line-height: 100%;
	}
	&__address {
    font-size: 30px;
    line-height: 100%;
	}
	&__mail {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 48px 0px;
	}
  &-timetable{
    margin-bottom: 72px;
  }
	&-timetable__title {
    font-size: 18px;
    margin-bottom: 26px;
    font-family: 'Gotham Bold';
	}
	&-timetable__text {
    font-size: 18px;
    font-family: 'Gotham Med';
	}
  &-form{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 558px;
    position: relative;
  }
	&-form__input {
    width: 172px;
    height: 40px;
    background: #fff;
    border-radius: 5px;
    padding-left: 20px;
    border: none;
    font-family: 'Gotham Reg';
    font-size: 14px;
    color: #000;
	}
  &-form__btn{
    background: #000;
  }
}

.footer__wrapper {
  width: 459px;
  height: 100%;
  iframe{
    border: none;
    width: 100%;
    height: 555px;
  }
}

@media(max-width: 1200px){
  .container{
    padding: 0px 40px;
  }
  .header-address{
    margin-right: 0;
  }
  .main{
    padding-bottom: 20px;
    background-size: auto;
    background-position: left 100px top;
    &__title{
      font-size: 56px;
    }
    &__subtitle{
      margin-top: 40px;
    }
  }
  .consultation__form{
    margin-right: 0;
  }
  .consultation__block{
    width: 62%;
  }
  .services__row{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .features__bg{
    width: 500px;
  }
  .price__img{
    width: 40%;
  }
  .examination__img{
    margin-left: 30px;
  }
  .employees__row{
    flex-wrap: wrap;
  }
  .employees-block{
    margin: 0px 5px;
    margin-bottom: 20px;
  }
  .sale{
    background-size: 1500px;
    &__block{
      width: 70%;
    }
  }
  .footer-form{
    width: 530px;
  }
  .footer__wrapper{
    width: 350px;
  }
}

@media(max-width: 992px){
  .header__tel{
    font-size: 20px;
    margin-right: 20px;
  }
  .header-timetable{
    max-width: 120px;
  }
  .main{
    background-size: auto;
    background-position: left 100px top;
  }
  .checkout__img{
    display: none;
  }
  .checkout__form{
    width: 100%;
  }
  .checkout__input{
    width: 35%;
  }
  .consultation__block{
    display: none;
  }
  .consultation{
    height: auto;
    padding: 50px 0px;
  }
  .consultation__title{
    position: relative;
    top: auto;
    right: auto;
    &_mob{
      display: block;
    }
  }
  .consultation__row{
    justify-content: space-between;
  }
  .consultation__form{
    margin: 0;
  }
  .services__row{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .features__bg{
    display: none;
  }
  .price__row{
    flex-direction: column;
  }
  .price__title{
    width: 100%;
    max-width: none;
    margin-right: 0;
  }
  .price__img{
    margin: 40px 0px;
    width: auto;
  }
  .stages__row{
    flex-wrap: wrap;
  }
  .stages-block{
    margin-bottom: 20px;
  }
  .reviews__row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }
  .reviews{
    padding-bottom: 50px;
  }
  .reviews__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  .reviews__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
  .sale__block{
    display: none;
  }
  .sale{
    height: auto;
    padding: 40px 0px;
    padding-top: 60px;
    background-size: cover;
    &__mob{
      display: block;
    }
    &__text{
      max-width: none;
    }
    &__title{
      max-width: none;
    }
  }
  .payment__row{
    flex-direction: column;
    align-items: center;
  }
  .footer__row{
    flex-direction: column;
  }
  .footer__wrapper{
    width: 100%;
    margin-top: 50px;
    iframe{
      height: 400px;
    }
  }
}

@media(max-width: 835px){
  .services__row{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px){
  .header{
    background: linear-gradient(to right, transparent 60%, #57c585 60%);
    .container{
      padding: 0px 10px;
    }
    &__contact{
      flex-direction: column;
    }
    &__tel{
      margin-bottom: 15px;
    }
  }
  .main__title{
    font-size: 48px;
  }
  .checkout{
    padding-bottom: 50px;
  }
  .checkout__input{
    width: 30%;
  }
  .consultation__title, .features__title, .price__title, .examination__title, .sale__title{
    font-size: 32px;
  }
  .features__row{
    width: auto;
  }
  .features__row_2{
    width: 370px;
  }
  .stages{
    padding-bottom: 30px;
  }
  .examination__img{
    display: none;
  }
  .examination__item{
    font-size: 20px;
  }
  .examination__title{
    margin-bottom: 30px;
  }
  .examination__list, .examination__title{
    max-width: none;
  }
  .sale__text{
    font-size: 28px;
  }
  .sale__number{
    font-size: 42px;
    padding-top: 10px;
  }
  .sale__subtitle{
    font-size: 16px;
  }
  .payment{
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .sertificates{
    padding-top: 60px;
    padding-bottom: 80px;
    &__title{
      margin-bottom: 30px;
    }
  }
  .footer{
    padding-top: 40px;
    padding-bottom: 30px;
    &-form{
      width: 100%;
      &__input{
        width: 30%;
      }
    }
    &__tel{
      font-size: 32px;
      margin-top: 30px;
    }
    &__address, &__mail{
      font-size: 24px;
    }
  }
}

@media(max-width: 640px){
  .services__row{
    grid-template-columns: 1fr 1fr;
  }
  .services-card{
    margin: 0 auto;
  }
}

@media(max-width: 576px){
  .container{
    padding: 0px 10px;
  }
  .header{
    background: transparent;
    padding-top: 20px;
    height: auto;
    &-address, &__tel, &-address__mail{
      color: #000;
    }
    &__contact{
      width: 100%;
    }
    &-address{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 320px;
      &__mail, &__street{
        font-size: 15px;
      }
    }
    &__tel{
      margin-top: 30px;
      margin-bottom: 20px;
    }
    &__row{
      flex-direction: column;
      height: auto;
    }
  }
  .main{
    background-size: cover;
    background-position: left 90px top -13px;
    padding-top: 40px;
  }
  .main__title{
    font-size: 30px;
  }
  .main__subtitle{
    margin-top: 30px;
  }
  .checkout{
    padding-top: 60px;
  }
  .checkout__checkbox + label::before{
    width: 250px;
    font-size: 14px;
  }
  .checkout__block{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .checkout__input{
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  .checkout__warning, .footer__warning{
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
  .consultation__row{
    flex-direction: column;
  }
  .consultation__title, .features__title, .price__title, .examination__title, .sale__title{
    font-size: 26px;
  }
  .consultation__title{
    margin-bottom: 30px;
  }
  .consultation__form{
    width: 100%;
    align-items: center;
  }
  .consultation__input{
    width: 90%;
    max-width: 400px;
  }
  .services{
    padding-top: 60px;
    padding-bottom: 40px;
    &__title{
      margin-bottom: 30px;
    }
  }
  .features{
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .features__row{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .features__row_2{
    width: 100%;
    max-width: 360px;
  }
  .features-statistics{
    text-align: center;
  }
  .stages{
    padding-bottom: 10px;
  }
  .stages__row{
    flex-direction: column;
    align-items: center;
  }
  .stages-block{
    padding: 0;
    border: none;
  }
  .examination{
    padding-bottom: 20px;
  }
  .examination__item{
    font-size: 18px;
  }
  .employees{
    padding-bottom: 10px;
  }
  .employees-block{
    margin: 0px 10px;
    margin-bottom: 30px;
  }
  .employees__row{
    justify-content: center;
  }
  .sale{
    background-size: cover;
    &__text{
      font-size: 18px;
    }
    &__subtitle{
      margin-top: 40px;
    }
  }
  .payment-method{
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    &__text{
      margin: 0;
      margin-top: 20px;
    }
  }
  .payment-conditions{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    &__title{
      font-size: 24px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    &__number{
      font-size: 56px;
    }
  }
  .footer{
    text-align: center;
    &__tel{
      font-size: 28px;
    }
    &__address{
      font-size: 24px;
    }
    &__mail{
      margin: 30px 0px;
    }
    &-timetable{
      margin-top: 20px;
      margin-bottom: 30px;
      &__title{
        margin-bottom: 15px;
      }
    }
    &-form{
      flex-direction: column;
      align-items: center;
      &__input{
        width: 90%;
        max-width: 400px;
        margin-bottom: 20px;
      }
    }
    &__wrapper{
      iframe{
        height: 200px;
      }
    }
  }
}

@media(max-width: 390px){
  .services__row{
    grid-template-columns: 1fr;
  }
}
