body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	width: 100%;
	max-width: 425px;
	margin: 0 auto;
}
.main{
	height: 100vh;
	padding: 20px;
	position: relative;
}
.section{
	padding-top: 10px;
	padding-left: 8px;
}
.main-title{
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
}
.main-text{
	font-size: 14px;
	margin-bottom: 25px;
}
.label{
	display: block;
	font-size: 15px;
	margin-bottom: 6px;
}
.block{
	display: inline-block;
}
.block-two{
	position: relative;
	top: -20px;
}
.btn{
	padding: 3px 8px;
	border: 1px solid #808080;
	background: #94c37d;
	border-radius: 2px;
	cursor: pointer;
}
.btn-back{
	background: #dcdedc;
	position: absolute;
	bottom: 10px;
	left: 20px;
}
.btn-submit{
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.input{
	margin-bottom: 20px;
	width: 160px;
	height: 19px;
	margin-right: 10px;
	padding-left: 3px;
	border: 1px solid #a9a9a9;
}
.textarea{
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	margin-top: 1px;
}
.checkbox{
	margin: 0 auto;
	display: block;
}
.main-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: -15px;
}
.main-item{
	margin-bottom: 40px;
}
.main-link{
	font-size: 22px;
}
.main-link:hover{
	text-decoration: none;
}
button:focus, input:focus, textarea:focus{
	outline: none;
}