html {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
button:active,
button:focus,
button.next,
button.prev {
  outline: none;
}
.main-header {
  height: 66px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header__back {
  font-weight: 400;
  font-size: 1.7rem;
  color: #333234;
}
.main-header__back:hover {
  text-decoration: none;
  color: #333234;
  outline: none;
}
.main-soc__text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #323133;
  margin-right: 20px;
}
.main-soc__link {
  margin-right: 4px;
}
.main-text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.5rem;
  color: #524f54;
  text-align: center;
  line-height: 1.8;
}
.prev,
.next {
  background: url(../img/work/prev.png) no-repeat center;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  left: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 25px;
  z-index: 10;
  outline: none;
}
.next {
  background: url(../img/work/next.png) no-repeat center;
  left: auto;
  right: 15px;
}
.slider-nav img {
  margin-right: 15px;
  height: 140px;
}
.slider-nav {
  margin-top: 40px;
  margin-bottom: 30px;
}
.footer {
  height: 75px;
  border-top: 1px solid #e0e0e0;
  overflow: hidden;
  margin-top: 250px;
}
.footer-flex {
  height: 75px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer-text,
.footer-link__tab {
  font-weight: 400;
  color: #524f54;
  font-size: 1.5rem;
  margin: 0;
}
.footer-link__tab {
  margin-left: 20px;
}
.footer-link__tab:hover {
  color: #524f54;
  text-decoration: none;
  outline: none;
}
@media (max-width: 992px) {
  .slider-nav img {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .main-soc__text {
    display: block;
    margin-bottom: 6px;
  }
  .main-soc {
    text-align: center;
  }
  .slider-nav img {
    height: 140px;
  }
}
@media (max-width: 576px) {
  .footer-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer {
    height: auto;
    padding: 20px 0px;
  }
  .main-soc__text {
    display: none;
  }
  .slider-nav {
    display: none;
  }
  .footer {
    margin-top: 40px;
  }
}
@media (max-width: 420px) {
  .footer-link__tab {
    margin-left: 7px;
  }
  .footer-link__tab:first-child {
    margin-left: 0;
  }
  .main-header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-header__back {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
