@font-face {
  font-family: 'Geometria Rg';
  src: url('../fonts/Geometria.woff2') format('woff2'), url('../fonts/Geometria.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Th';
  src: url('../fonts/Geometria-Thin.woff2') format('woff2'), url('../fonts/Geometria-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria B';
  src: url('../fonts/Geometria-Bold.woff2') format('woff2'), url('../fonts/Geometria-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Lt';
  src: url('../fonts/Geometria-Light.woff2') format('woff2'), url('../fonts/Geometria-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Geometria Med';
  src: url('../fonts/Geometria-Medium.woff2') format('woff2'), url('../fonts/Geometria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Geometria Lt';
}
.container {
  display: block;
  margin: 0 auto;
  width: 1135px;
}
.title {
  font-size: 72px;
  line-height: 91px;
  color: #000;
  margin: 0;
  font-family: 'Geometria Lt';
  font-weight: normal;
  position: relative;
}
.title::before {
  content: 'realisation';
  display: block;
  position: absolute;
  font-size: 170px;
  font-weight: bold;
  color: #000;
  opacity: 0.06;
  top: -25px;
  left: -12px;
}
.text {
  font-size: 24px;
  line-height: 44px;
  font-family: 'Geometria Lt';
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #000;
}
.realization {
  padding-top: 260px;
  padding-bottom: 130px;
}
.realization-text {
  margin-bottom: 200px;
  line-height: 70px;
  font-size: 34px;
}
.realization-text span {
  font-family: 'Geometria Rg';
}
.result {
  padding-top: 120px;
  padding-bottom: 80px;
}
.result-title {
  margin-bottom: 10px;
}
.result-title::before {
  content: 'result';
}
.result-text {
  margin-top: 40px;
}
.result-list {
  padding-left: 25px;
}
.result-list__item {
  font-size: 24px;
}
.sectionPhoto {
  padding: 100px 0px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionPhoto .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sectionPhoto-img {
  margin: 6px;
}
.sectionPhoto-block_1 img {
  max-width: 443px;
  height: 295px;
}
.sectionPhoto-block_2 img {
  height: 450px;
}
.promotion {
  padding-top: 280px;
  padding-bottom: 100px;
}
.promotion-title {
  margin-bottom: 55px;
}
.promotion-title::before {
  content: 'promotion';
  top: 35px;
  left: -23px;
}
.promotion-text {
  margin-bottom: 25px;
  max-width: 1055px;
}
.activity {
  padding-top: 250px;
  padding-bottom: 100px;
}
.activity-title {
  margin-bottom: 55px;
}
.activity-title::before {
  content: 'activity';
  top: 26px;
  left: 0px;
}
.activity-text {
  max-width: 1040px;
}
.sectionSlider {
  background: #F2F2F2;
  position: relative;
  padding: 180px 0px;
}
.sectionSlider-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
.sectionSlider1 {
  padding: 0;
}
.slider-wrapper {
  position: relative;
  width: auto;
}
.slider-wrapper::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 300px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}
.slider-line {
  height: 1px;
  width: 50px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  display: inline-block;
  background: #1a1a1a;
  margin-left: 10px;
  margin-right: 10px;
}
.slider-number,
.active-number {
  font-size: 16px;
  font-family: 'Geometria Rg';
}
.slider-nav {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slick-slide img {
  height: 533px;
  width: 300px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: 70px;
}
.slick-center img {
  height: auto;
  width: 100%;
  height: 680px;
  margin: 0;
}
.slick-center .slider-wrapper::before {
  display: none;
}
.slick-prev {
  height: 533px;
  width: 300px;
  position: absolute;
  left: 60px;
  z-index: 9999;
}
.slick-prev::before {
  content: 'предыдущее';
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  font-family: 'Geometria Lt';
}
.slick-prev::after {
  content: '';
  position: absolute;
  top: 50.5%;
  right: 130px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  width: 50px;
  background: #fff;
}
.slick-prev::after:hover {
  color: red;
}
.slick-next {
  height: 533px;
  width: 300px;
  position: absolute;
  right: 60px;
  z-index: 9999;
}
.slick-next::before {
  content: 'следующее';
  position: absolute;
  top: 50%;
  left: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  font-family: 'Geometria Lt';
}
.slick-next::before:hover {
  color: red;
}
.slick-next::after {
  content: '';
  position: absolute;
  top: 50.5%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  width: 50px;
  background: #fff;
}
.slick-next::after:hover {
  color: red;
}
.blockPhoto:first-child {
  text-align: right;
}
.blockPhoto {
  text-align: left;
  margin: 20px;
}
.blockPhoto-img {
  margin-bottom: 10px;
}
.blockText {
  height: 280px;
  text-align: center;
  padding-top: 150px;
}
.statistics {
  height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.statistics .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.statistics-block {
  min-width: 50%;
  margin-bottom: 45px;
  margin-top: 45px;
}
.statistics-block__num {
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Geometria Rg';
  font-weight: bold;
}
.statistics-block__text {
  font-size: 16px;
  font-weight: 300;
}
.line {
  border: 1px solid #fff;
  width: 60px;
  height: 0;
  margin-top: 40px;
  margin-bottom: 44px;
}
.blockVK {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
}
.blockVK .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blockVK-img {
  margin: 20px;
}
.indicators {
  padding-top: 300px;
  padding-bottom: 160px;
}
.indicators-title {
  margin-bottom: 160px;
}
.indicators-title::before {
  content: 'indicators';
  top: -20px;
}
.indicators-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.indicators-num {
  color: #093BEC;
  font-size: 48px;
  font-family: 'Geometria Rg';
  font-weight: bold;
}
.indicators-text {
  font-size: 16px;
  color: #1A1A1A;
  font-family: 'Geometria Lt';
  font-weight: 300;
  margin-right: 10px;
}
.indicators-line {
  width: 60px;
  height: 0;
  border: 1px solid #1a1a1a;
  margin-top: 40px;
  margin-bottom: 44px;
}
.indicators-block {
  margin-bottom: 90px;
}
.sectionGrafic {
  min-height: 100vh;
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .realization-text {
    font-size: 26px;
  }
  .slick-slide img {
    height: 480px;
    width: 260px;
    margin-top: 55px;
  }
  .slick-center img {
    height: 595px;
    width: 300px;
    margin-top: 0;
  }
  .slider-wrapper::before {
    width: 260px;
  }
  .slick-next {
    width: 260px;
    right: 44px;
  }
  .slick-prev {
    width: 260px;
    left: 44px;
  }
  .text,
  .result-list__item {
    font-size: 21px;
  }
  .sectionPhoto-block_2 img,
  .sectionPhoto-block_1 img {
    height: 260px;
    width: 100%;
  }
  .sectionPhoto-block_2 img {
    height: 398px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .realization-text {
    font-size: 22px;
    line-height: 2;
    margin-bottom: 40px;
  }
  .realization,
  .promotion,
  .activity,
  .indicators {
    padding: 60px 0px;
  }
  .indicators-title {
    margin-bottom: 50px;
  }
  .sectionSlider {
    padding: 60px 0px;
    height: auto;
    min-height: auto;
  }
  .sectionSlider1 {
    padding: 0;
  }
  .slick-slide img {
    height: 500px;
  }
  .slick-center img {
    height: auto;
    width: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 500px;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before,
  .slick-prev:before,
  .slick-next:before {
    color: #000;
    opacity: 1;
  }
  .slick-next {
    right: 0px;
  }
  .slick-next::after {
    display: none;
  }
  .slick-prev {
    left: -60px;
  }
  .slick-prev::after {
    display: none;
  }
  .text,
  .result-list__item {
    font-size: 16px;
  }
  .title {
    font-size: 60px;
  }
  .title::before {
    font-size: 140px;
  }
  .sectionPhoto-block_2 img,
  .sectionPhoto-block_1 img {
    height: 100%;
    width: 300px;
  }
  .sectionPhoto-block_1,
  .sectionPhoto-block_2 {
    width: 50%;
    text-align: left;
  }
  .sectionPhoto-block_1 {
    text-align: right;
  }
  .sectionSlider1 {
    height: auto;
    padding: 30px 0px;
  }
  .blockText {
    height: 200px;
    padding-top: 100px;
  }
  .statistics {
    height: auto;
  }
  .statistics1 .statistics-block:nth-child(1),
  .statistics1 .statistics-block:nth-child(3) {
    min-width: 30%;
  }
  .statistics1 .statistics-block:nth-child(2),
  .statistics1 .statistics-block:nth-child(4) {
    min-width: 60%;
  }
  .indicators-img {
    width: 400px;
  }
  .statistics2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .statistics2 .statistics-block {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .title {
    font-size: 45px;
    line-height: 70px;
  }
  .title::before {
    font-size: 105px;
  }
  .promotion-title::before {
    top: 15px;
  }
  .slick-next {
    right: -90px;
  }
  .slick-prev {
    left: -130px;
  }
  .sectionPhoto-block_1,
  .sectionPhoto-block_2 {
    width: 100%;
    text-align: center;
  }
  .sectionPhoto-block_2 img,
  .sectionPhoto-block_1 img {
    height: auto;
    width: 100%;
  }
  .sectionPhoto .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sectionSlider-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .blockPhoto,
  .blockPhoto:first-child {
    width: 100%;
    text-align: center;
  }
  .statistics1 .statistics-block:nth-child(1),
  .statistics1 .statistics-block:nth-child(3) {
    min-width: 100%;
  }
  .statistics1 .statistics-block:nth-child(2),
  .statistics1 .statistics-block:nth-child(4) {
    min-width: 100%;
  }
  .blockVK {
    height: auto;
  }
  .blockVK .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .indicators {
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .indicators-title {
    margin-bottom: 70px;
  }
  .indicators-img {
    width: 230px;
  }
  .sectionGrafic-img {
    width: 90%;
  }
  .slider-wrapper::before {
    background: transparent;
  }
}
@media (max-width: 576px) {
  .container {
    width: 98%;
  }
  .realization {
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .title {
    font-size: 30px;
    line-height: 1.8;
  }
  .title:before {
    font-size: 50px;
    top: -34%;
    left: 0px;
  }
  .activity-title::before {
    top: 0px;
  }
  .slider-nav {
    display: none;
  }
  .slick-slider img {
    margin: 0 auto;
    width: 285px;
    height: 480px;
  }
  .result {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sectionPhoto-block_2 img,
  .sectionPhoto-block_1 img {
    width: 90%;
  }
  .sectionPhoto {
    padding: 40px 0px;
  }
  .promotion {
    height: auto;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .promotion-title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .activity {
    max-height: auto;
    height: auto;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .activity-title {
    margin-bottom: 30px;
  }
  .blockText {
    height: auto;
    padding: 30px 0px;
  }
  .indicators-img {
    display: none;
  }
}
