@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/MonumentExtended-Regular.eot");
  src: url("../fonts/MonumentExtended-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MonumentExtended-Regular.woff2") format("woff2"), url("../fonts/MonumentExtended-Regular.woff") format("woff"), url("../fonts/MonumentExtended-Regular.ttf") format("truetype"), url("../fonts/MonumentExtended-Regular.svg#MonumentExtended-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono";
  font-weight: 400; }

input, input:focus, input:hover {
  outline: none; }

.container {
  width: 1170px;
  margin: 0 auto; }

.logo {
  text-decoration: none; }

.section-title {
  color: #000;
  font-family: "Monument Extended";
  font-size: 60px;
  margin: 0;
  text-transform: uppercase; }

.header {
  position: relative;
  z-index: 2; }
  .header .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-logo {
    margin-right: 40px;
    fill: #000;
    width: 135px;
    height: 18px; }
  .header-lang {
    display: inline-block; }
    .header-lang__link {
      color: #1D1D1D;
      display: inline-block;
      font-size: 16px;
      margin-right: 16px;
      text-decoration: none; }
  .header-req {
    color: #FF3F3F;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 16px;
    text-decoration: none; }

.menu-btn {
  display: none;
  width: 45px;
  height: 30px;
  position: relative;
  top: -2px;
  z-index: 3; }
  .menu-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px; }
    .menu-btn span::before, .menu-btn span::after {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      width: 37px;
      height: 4px;
      background-color: #1D1D1D; }
    .menu-btn span::before, .menu-btn span::after {
      content: "";
      display: block;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
    .menu-btn span::before {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px); }

.menu-btn_active span {
  height: 0; }

.menu-btn span::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px); }

.menu-btn_active span:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #fff; }
.menu-btn_active span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #fff; }

.mobile-menu {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-top: 115px;
  z-index: 1;
  height: 500px;
  width: 100%;
  background: #1D1D1D;
  display: none; }
  .mobile-menu__btn {
    width: 216px;
    height: 57px;
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    text-decoration: none;
    line-height: 57px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center; }

.mobile-nav {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .mobile-nav__link {
    font-size: 30px;
    font-weight: 400;
    text-transform: lowercase;
    color: #f2f2f2;
    margin-bottom: 43px;
    text-decoration: none; }

.active-link {
  color: #FF3F3F; }

.menu-active {
  display: block; }

.fillWhite {
  fill: #fff; }

.colorWhite {
  color: #fff; }

.active-lang {
  color: #FF3F3F;
  font-weight: 500; }

.nav {
  display: inline-block; }
  .nav-link {
    color: #1D1D1D;
    font-weight: 400;
    font-size: 16px;
    margin-left: 44px;
    text-decoration: none; }

.main {
  padding-top: 45px; }
  .main .container {
    position: relative; }
  .main-title {
    font-family: "Monument Extended";
    font-size: 90px;
    color: #202020;
    margin: 0 auto;
    margin-top: 125px;
    max-width: 850px;
    text-transform: uppercase;
    line-height: 135px; }
  .main-block {
    position: absolute;
    right: 25px;
    bottom: -50px; }
  .main-text {
    display: inline-block;
    font-size: 16px;
    text-transform: lowercase;
    line-height: 148.5%;
    max-width: 264px;
    margin: 0;
    margin-right: 50px; }
  .main-btn {
    display: inline-block;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background: #FF3F3F;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding-top: 45px;
    position: relative;
    top: -38px; }
  .main-props {
    position: absolute;
    left: 0;
    top: 42%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding-top: 45px; }
    .main-props__text {
      font-size: 14px;
      font-weight: 700;
      color: #FF3F3F;
      margin-bottom: 7px; }
  .main-propsSec {
    position: absolute;
    right: 30%;
    bottom: -175px; }

.about {
  padding-top: 270px;
  padding-bottom: 310px; }

.project {
  padding-bottom: 50px; }
  .project-link {
    font-family: "Monument Extended";
    font-size: 18px;
    text-decoration: none;
    text-align: right;
    float: right;
    color: #1D1D1D;
    text-transform: uppercase; }
  .project-linkWrapper {
    width: 100%; }
  .project-block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .project-wrapper {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 80px; }
  .project-work {
    margin-bottom: 45px; }
    .project-work:nth-child(2) {
      margin-top: 50px;
      margin-right: 60px; }
    .project-work:nth-child(3) {
      margin-top: 60px; }
    .project-work__title {
      font-family: "Monument Extended";
      margin: 0;
      font-size: 40px;
      color: #141414;
      margin-bottom: 10px; }
    .project-work__line {
      height: 0;
      width: 100%;
      border-top: 1px solid #000000;
      margin-bottom: 10px;
      margin-top: 11px; }
    .project-work__category {
      color: #272727;
      display: block;
      font-size: 20px; }
    .project-work__property {
      color: #000;
      text-transform: lowercase;
      font-size: 12px;
      text-align: right; }
      .project-work__property span {
        margin-right: 15px; }
        .project-work__property span:last-child {
          margin-right: 0; }

.category {
  color: #272727;
  font-size: 15px;
  margin-top: 5px;
  display: block; }

.work-block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 8px; }

.tabs {
  min-width: 185px; }
  .tabs .tab {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #1D1D1D;
    margin-bottom: 35px;
    cursor: pointer; }
  .tabs .active-tab {
    color: #FF3F3F;
    font-weight: 500; }

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: show 1.5s;
          animation: show 1.5s; }

.hide {
  display: none; }

.whatWeDo {
  color: #fff;
  background: #1D1D1D;
  padding-top: 70px; }
  .whatWeDo .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .whatWeDo .section-title {
    color: #fff;
    min-width: 570px;
    margin-right: 192px;
    margin-bottom: 20px; }
  .whatWeDo-text {
    font-size: 20px;
    line-height: 146.69%;
    max-width: 440px;
    margin: 0;
    color: #fff; }
  .whatWeDo-kind {
    display: block; }
    .whatWeDo-kind:first-child {
      margin-top: 20px;
      margin-bottom: 70px; }
    .whatWeDo-kind__title {
      font-family: "Monument Extended";
      font-size: 24px;
      text-transform: uppercase;
      margin: 0;
      letter-spacing: 2px;
      margin-bottom: 10px; }
    .whatWeDo-kind__text {
      display: block;
      font-size: 16px;
      margin-bottom: 8px; }

.request {
  padding: 80px 0px;
  background: #fff url(../img/request-bg.png) no-repeat center/cover; }
  .request .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .request-title {
    font-family: "Monument Extended";
    font-size: 45px;
    color: #1D1D1D;
    max-width: 590px;
    margin: 0px;
    margin-right: 113px;
    line-height: 64px; }
  .request-content {
    max-width: 420px; }
  .request-text {
    font-size: 16px;
    color: #1D1D1D;
    margin-top: 21px;
    margin-bottom: 25px; }
  .request-undertext {
    font-size: 12px;
    color: #1D1D1D;
    margin: 0;
    margin-top: 20px;
    max-width: 400px; }
  .request-input {
    width: 355px;
    height: 50px;
    border: 1px solid #000;
    padding-left: 18px;
    line-height: 50px;
    color: #000;
    font-size: 16px; }
  .request-btn {
    width: 50px;
    height: 50px;
    background: #FF3F3F url(../img/arrow-white.png) no-repeat center;
    border: none;
    cursor: pointer; }
  .request-form {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.contact {
  background: #1D1D1D;
  padding-top: 65px;
  padding-bottom: 75px;
  color: #fff; }
  .contact-wrapper, .contact-wrapper2 {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%; }
  .contact-wrapper2 {
    margin-top: -10px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .contact-title {
    font-size: 60px;
    font-family: "Monument Extended";
    color: #fff;
    margin: 0; }
  .contact-tel {
    margin-bottom: 30px; }
    .contact-tel:last-child {
      margin-bottom: 0; }
    .contact-tel span {
      display: inline-block;
      width: 305px;
      font-size: 18px;
      color: #fff;
      font-weight: 400; }
    .contact-tel a {
      font-size: 18px;
      text-decoration: none;
      color: #fff;
      font-weight: 400; }
  .contact-btn {
    display: block;
    background: #FF3F3F;
    position: relative;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    width: 406px;
    height: 72px;
    line-height: 72px;
    padding-left: 40px; }
    .contact-btn::before {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 18px;
      background: url(../img/arrow-white.png) no-repeat center;
      right: 30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .contact-text {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-top: 18px; }
  .contact-logo {
    margin-right: 148px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .contact-logo img {
      margin-right: 17px; }

.footer {
  height: 43px; }
  .footer .container {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-text {
    color: #1D1D1D;
    font-size: 12px;
    font-weight: 300; }
  .footer-logo {
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    position: relative;
    top: 2px;
    fill: #000;
    width: 135px;
    height: 18px; }

@media (max-width: 1200px) {
  .container {
    width: 960px; }

  .main-title {
    font-size: 75px;
    margin-top: 75px;
    margin-left: 95px; }

  .main-block {
    bottom: -45px;
    right: 0; }

  .main-propsSec {
    bottom: -160px; }

  .request .container, .contact .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .request-title {
    margin: 0; }

  .project-work {
    width: 45%; }

  .project-work__img {
    width: 100%; }

  .whatWeDo .section-title {
    margin-right: 50px; } }
@media (max-width: 992px) {
  .container {
    width: 720px; }

  .header .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .header-req {
    position: static; }

  .header-req {
    -webkit-transform: none;
            transform: none;
    text-align: center;
    width: 100%;
    margin-top: 30px; }

  .nav {
    margin-top: 30px;
    text-align: center;
    width: 100%; }

  .header-lang {
    position: absolute;
    top: 0;
    right: 0; }

  .wrapper-logo {
    width: 100%;
    text-align: center; }

  .header-logo {
    margin: 0; }

  .main-title {
    font-size: 65px;
    margin-top: 40px;
    line-height: 1.7; }

  .main-block {
    position: static;
    margin-left: 95px; }

  .main-props {
    top: 30%; }

  .main-propsSec {
    right: 0;
    bottom: 50px; }

  .about {
    padding-top: 80px; }

  .project-work__title {
    font-size: 25px; }

  .tabs {
    width: 160px; }

  .section-title {
    font-size: 45px; }

  .project-wrapper {
    margin-top: 60px; }

  .project-work {
    margin: 0;
    margin-bottom: 30px;
    width: 48%; }
    .project-work:nth-child(2), .project-work:nth-child(3) {
      margin: 0;
      margin-bottom: 30px; }

  .project {
    padding-bottom: 80px; }

  .whatWeDo .section-title {
    margin-right: 40px;
    min-width: auto;
    font-size: 45px; }

  .request-title {
    font-size: 27px; }

  .request .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .contact-title {
    font-size: 45px; }

  .contact-btn {
    width: 360px; }

  .contact-wrapper2 {
    margin-top: 30px; }

  .contact-tel span {
    display: block;
    width: auto;
    margin-bottom: 8px; }

  .contact-logo {
    margin-right: 126px; } }
@media (max-width: 768px) {
  .container {
    width: 540px; }

  .main .container {
    position: static; }

  .main-props, .main-propsSec {
    display: none; }

  .main-title {
    margin: 0;
    margin-top: 30px;
    font-size: 50px; }

  .main-block {
    margin: 0;
    margin-top: 30px; }

  .project-work {
    width: 100%; }

  .whatWeDo .container, .contact .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .whatWeDo-kind {
    display: inline-block;
    vertical-align: top; }

  .whatWeDo-text {
    margin-bottom: 40px; }

  .whatWeDo-kind:first-child {
    margin: 0;
    margin-right: 40px; }

  .request .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .request-title {
    margin: 0; }

  .contact-wrapper, .contact-wrapper2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .contact-title {
    width: 100%;
    margin-bottom: 17px; }

  .contact-tel {
    margin-bottom: 34px; }

  .contact-logo {
    margin-top: 37px; }

  .footer {
    height: auto;
    padding-bottom: 15px; }
    .footer .container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }

  .footer-logo {
    position: static; } }
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0px 15px;
    margin: 0; }

  .menu-btn {
    display: block; }

  .header-lang {
    right: inherit;
    top: 50%;
    left: 56%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .header-lang__link {
      font-size: 12px;
      margin-right: 5px; }

  .header-logo, .footer-logo {
    float: left;
    width: 105px;
    height: 13.87px; }

  .header .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }

  .header-req, .nav, .footer-logo {
    display: none; }

  .main {
    padding-top: 35px;
    padding-bottom: 0; }

  .main .container {
    position: relative; }

  .main-title {
    font-size: 30px;
    margin-top: 60px; }

  .main-text {
    max-width: none;
    display: block;
    width: 100%;
    text-align: left; }

  .main-btn {
    position: static;
    margin-top: 25px; }

  .main-block {
    text-align: right;
    margin-top: 10px; }

  .main-props, .main-propsSec {
    display: block; }

  .main-propsSec {
    -webkit-transform: none;
            transform: none;
    top: inherit;
    bottom: 25px;
    left: 16px; }

  .main-props {
    -webkit-transform: none;
            transform: none;
    top: inherit;
    left: inherit;
    bottom: -120px;
    right: 66px; }

  .main-props__text {
    margin: 10px 0px; }

  .section-title, .whatWeDo .section-title, .request-title, .contact-title {
    font-size: 26px; }

  .project-wrapper {
    display: block; }

  .tabs::-webkit-scrollbar {
    width: 0; }

  .tabs {
    -ms-overflow-style: none; }

  .tabs {
    overflow: -moz-scrollbars-none; }

  .tabs {
    margin-bottom: 35px;
    display: block;
    width: 100%;
    overflow: auto; }
    .tabs-wrapper {
      width: 580px; }

  .tabs .tab {
    margin: 0;
    margin-right: 15px;
    display: inline-block; }

  .project {
    padding: 20px 0px; }
    .project-wrapper {
      margin-top: 24px; }
    .project-work {
      margin-bottom: 28px; }
      .project-work:last-child {
        margin-bottom: 35px; }
    .project-link {
      float: none;
      text-align: left;
      font-size: 16px; }

  .whatWeDo {
    padding: 45px 0px; }
    .whatWeDo .section-title {
      margin: 0;
      margin-bottom: 10px; }
    .whatWeDo-text {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 25px; }
    .whatWeDo-kind {
      margin-bottom: 30px; }
      .whatWeDo-kind__title {
        font-size: 20px; }
      .whatWeDo-kind:first-child {
        margin: 0;
        margin-bottom: 30px; }
      .whatWeDo-kind:last-child {
        margin-bottom: 0; }

  .request {
    padding-top: 35px;
    padding-bottom: 200px;
    background-position: left -20px bottom;
    background-size: 1420px; }
    .request-input {
      width: 100%; }
    .request-content {
      width: auto;
      max-width: none; }
    .request-title {
      line-height: 39px; }

  .contact {
    padding-top: 50px;
    padding-bottom: 35px; }
    .contact-tel {
      margin-bottom: 30px; }
      .contact-tel span {
        font-size: 16px;
        font-weight: 500; }
      .contact-tel a {
        font-size: 16px; }
    .contact-text {
      font-size: 12px;
      margin-top: 8px; }
    .contact-logo {
      font-size: 16px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 0; }
    .contact-btn {
      height: 53px;
      line-height: 53px;
      padding-left: 20px;
      width: 100%;
      font-size: 16px; }
      .contact-btn::before {
        right: 17px; }

  .footer {
    padding-top: 15px;
    padding-bottom: 20px; }
    .footer-text {
      line-height: 15px;
      margin: 0; } }

/*# sourceMappingURL=style.css.map */