html {
  font-size: 10px; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; }

.clearfix {
  clear: both; }

.header {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px; }
  .header-logo {
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #fff;
    float: left; }
    .header-logo:hover {
      color: #fff;
      text-decoration: none; }
    .header-logo span {
      color: #fa7c30; }
  .header-menu {
    margin-left: 30px;
    position: relative;
    top: 8px;
    float: left; }
    .header-menu__list {
      padding: 0;
      margin: 0; }
    .header-menu__item {
      list-style: none;
      display: inline-block;
      margin-left: 20px; }
    .header-menu__link {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2rem; }
      .header-menu__link:hover {
        color: #fff; }
  .header-in {
    float: right; }
    .header-in__list {
      padding: 0;
      margin: 0; }
    .header-in__item {
      list-style: none;
      display: inline-block;
      margin-left: 20px; }
    .header-in__link {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2rem; }
      .header-in__link:hover {
        color: #fff; }
    .header-in__btn {
      background: transparent;
      height: 35px;
      width: 115px;
      border: 2px solid #fff;
      list-style: none;
      display: inline-block;
      margin-left: 20px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.2rem;
      cursor: pointer;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      padding: 0; }
      .header-in__btn:hover {
        background: #fff;
        color: #000; }

.line {
  height: 2px;
  background: #fff;
  width: 100%; }

.humburger {
  display: none;
  z-index: 200;
  position: fixed;
  right: 4rem;
  top: 3rem;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.humburger span {
  display: block;
  height: 3px;
  width: 2.5rem;
  background: #ffc600;
  margin-bottom: 4px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.active {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.active span:nth-child(1) {
  position: relative;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  top: 6.3px;
  left: 0px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: #fff; }

.active span:nth-child(2) {
  display: none; }

.active span:nth-child(3) {
  position: relative;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  bottom: 0px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  background: #fff; }

.menu {
  width: 100%;
  position: fixed;
  background: #000;
  opacity: 0.9;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center; }

.menu__list {
  padding: 0;
  margin: 0; }

.menu__item {
  list-style: none;
  font-size: 2rem;
  margin: 20px 0px; }

.menu__link {
  color: #fff; }

.menu__link:hover {
  color: #fff;
  text-decoration: none; }

.dn {
  display: none; }

.main {
  position: relative;
  height: 100vh;
  min-height: 600px;
  background: url(../img/main-bg.jpg) no-repeat center/cover; }
  .main-title {
    margin-top: 250px;
    margin-bottom: 20px;
    font-size: 6.8rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }
    .main-title span {
      color: #fa7c30; }
  .main-subtitle {
    color: #fff;
    font-size: 1.4rem;
    margin: 0; }
  .main-btn {
    width: 170px;
    height: 45px;
    background-color: #fa7c30;
    color: #fff;
    font-size: 1.4rem;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 60px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .main-btn:hover {
      background-color: #fff;
      color: #fa7c30; }
  .main-block {
    width: 100%;
    height: 500px;
    background: #fff;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: -600px; }
    .main-block-img {
      width: 350px;
      height: 100%;
      background: url(../img/image-1.jpg) no-repeat center/cover;
      display: inline-block; }
    .main-block-form {
      padding: 60px 0px;
      text-align: center;
      vertical-align: top;
      width: 64%;
      display: inline-block; }
      .main-block-form__text {
        font-weight: 700;
        font-size: 2.6rem;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 20px; }
      .main-block-form__title {
        font-weight: 700;
        font-size: 2.6rem;
        color: #000;
        text-transform: uppercase;
        font-size: 3.6rem;
        margin-bottom: 60px; }

.form-input {
  border: none;
  border-bottom: 1px solid #000;
  width: 25%;
  height: 45px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000; }
  .form-input:focus {
    outline: none; }
  .form-input__btn {
    display: block;
    margin: 0 auto;
    margin-top: 70px; }
    .form-input__btn:hover {
      border: 2px solid #fa7c30; }

.second {
  padding-bottom: 100px;
  padding-top: 400px;
  background: #f1f4f6; }
  .second-title {
    font-size: 3.2rem;
    font-weight: 700;
    color: #000;
    text-transform: uppercase; }
    .second-title span {
      color: #fa7c30; }
  .second-text {
    font-size: 1.4rem;
    color: #000;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px; }
  .second-desc {
    opacity: 0.6;
    color: #000;
    font-size: 1.4rem;
    font-weight: 400; }
  .second-btn:hover {
    border: 2px solid #fa7c30; }
  .second-blockText {
    padding-top: 150px; }

.product {
  padding: 60px 0px; }
  .product-subtitle {
    font-size: 1.4rem;
    opacity: 0.6;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px; }
  .product-block {
    background: #f1f4f6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .product-block__img {
      width: 100%; }
    .product-block__title {
      font-size: 2.6rem;
      color: #000;
      font-weight: 700;
      margin-bottom: 25px; }
    .product-block__text {
      font-size: 1.6rem;
      color: #000;
      font-weight: 400; }
    .product-block__btn {
      margin-top: 45px; }
      .product-block__btn:hover {
        border: 2px solid #fa7c30; }
  .product-blocks {
    padding: 30px; }

.personal {
  height: 580px;
  background: url(../img/personal-bg.jpg) no-repeat center/cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .personal-overtitle {
    font-size: 3.6rem;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-transform: uppercase; }
  .personal-title {
    font-size: 7rem;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 40px;
    text-transform: uppercase; }
  .personal-btn {
    margin: 0; }

.trainers {
  padding: 70px; }
  .trainers-block {
    text-align: center; }
    .trainers-block__name {
      font-weight: 700;
      font-size: 2.6rem;
      margin-top: 35px;
      margin-bottom: 5px; }
    .trainers-block__prof {
      font-size: 1.4rem;
      font-weight: 700;
      color: #fa7c30;
      margin-top: 0;
      margin-bottom: 20px;
      text-transform: uppercase; }
    .trainers-block__text {
      font-size: 1.6rem;
      font-weight: 400; }

.picture {
  height: 435px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .picture-one {
    display: inline-block;
    background: url(../img/bg-1.jpg) no-repeat center/cover;
    width: 50%;
    height: 435px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    position: relative; }
  .picture-two {
    display: inline-block;
    background: url(../img/bg-2.jpg) no-repeat center/cover;
    width: 50%;
    height: 435px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    position: relative; }
  .picture-overtitle {
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin: 0; }
  .picture-title {
    font-size: 4.5rem;
    margin-top: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff; }
  .picture-btn {
    margin: 0; }
  .picture-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.footer {
  height: 90px;
  background: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer-link {
    color: #fa7c30;
    font-size: 1.4rem;
    font-weight: 400; }
    .footer-link:hover {
      color: #fa7c30;
      text-decoration: none; }

.header-in__btn:hover {
  color: #000; }

@media (max-width: 1200px) {
  .form-input {
    width: 24%;
    height: 45px;
    margin: 0px 15px 20px 15px; }
  .main-block-form {
    padding: 20px 0px;
    width: 61%; }
  .main-block__title {
    margin: 0; }
  .trainers-block__img {
    height: 300px; } }

@media (max-width: 992px) {
  html {
    font-size: 8px; }
  .header-logo {
    position: relative;
    top: 6px; }
  .header-menu {
    position: relative;
    top: 12px; }
  .main-block {
    height: 450px;
    text-align: center; }
    .main-block-img {
      display: none; }
    .main-block-form {
      width: 100%; }
  .form-input {
    width: 25%; }
  .second-img {
    width: 400px; }
  .product-block {
    margin-top: 30px; }
  .trainers-block {
    margin-top: 30px; } }

@media (max-width: 768px) {
  .header-menu__link {
    font-size: 1.5rem; }
  .header-in__link {
    font-size: 1.5rem; }
  .header-in__btn {
    font-size: 1.5rem; }
  .header-in {
    z-index: 20;
    position: relative;
    top: 30px;
    right: 58px; }
  .second-btn {
    display: block;
    margin: 50px auto; }
  .second {
    padding-bottom: 0px;
    padding-top: 300px; }
  .trainers-block {
    margin-bottom: 80px; }
  .picture-title {
    font-size: 3rem; }
  .header-in {
    display: none; }
  .header-menu {
    display: none; }
  .humburger {
    display: block; } }

@media (max-width: 576px) {
  .header-in {
    display: none; }
  .header-menu {
    display: none; }
  .header-logo {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20px;
    font-size: 4rem;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .main-title {
    font-size: 5rem;
    margin-top: 150px; }
  .second-img {
    width: 200px;
    margin: 0 auto;
    display: block; }
  .picture {
    height: 500px; }
    .picture-one {
      width: 100%;
      height: 250px; }
    .picture-two {
      width: 100%;
      height: 250px; } }

@media (max-width: 480px) {
  .form-input {
    margin: 0px 5px 15px 5px;
    width: 30%; }
  .second {
    padding-top: 150px; }
  .personal-title {
    font-size: 5rem; } }

@media (max-width: 420px) {
  .form-input {
    width: 40%; }
  .form-input__btn {
    margin-top: 20px; }
  .trainers-block__img {
    height: 200px; } }

@media (max-width: 345px) {
  html {
    font-size: 7px; } }

@media (max-height: 800px) {
  .second {
    padding-top: 500px; } }

@media (max-width: 340px) and (max-height: 650px) {
  .second {
    padding-top: 350px; } }
